<ul class="m-b-0">
  <li class="menu-item" style="background: #351839">
    <%= link_to root_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-accueil' %>
      <div>Accueil</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: <%= ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861' %>">
    <%= link_to accounts_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-comptes' %>
      <div>Mes Comptes</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: <%= ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60' %>">
    <%= link_to financial_operations_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-financieres' %>
      <div>Mes Opérations Financières</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: <%= ENV['HUB_MAIN_COLOR_DARK'] || '#c13856' %>">
    <%= link_to commercial_activities_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-commerciale' %>
      <div>Mon Activité Commerciale</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: #d80039">
    <%= link_to services_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-services' %>
      <div>Mes Services</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: #ec4e20">
    <%= link_to freelance_stack_redirect_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-mission' %>
      <div>Obtenir des outils</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: #ef7c11">
    <%= link_to contacts_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-contact' %>
      <div>Contact</div>
    <% end %>
  </li>
  <li class="menu-item" style="background: #f2ab1d">
    <%= link_to articles_path do %>
      <%= image_tag 'bureau_consultant/icon-mobile-news' %>
      <div>News</div>
    <% end %>
  </li>
</ul>

<style>
  .menu_link .menu-container a,
  .menu_link .menu-container-last a {
    display: table;
  }
  .menu_link .menu-container .menu-thumb,
  .menu_link .menu-container-last .menu-thumb-last {
    display: table-cell;
  }
  .menu_link .menu-container .menu-content,
  .menu_link .menu-container-last .menu-content-last {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    text-align: center;
    width: 100%;
  }
</style>
