<div class="row">

  <div class="col-xs-12">

    <div class="news">
      <div class="bg-white">

        <div class="align-center p-t-20">
          <div class="news-header-title">NEWS</div>

          <div class="news-filter m-t-30">
            <span class="news-filter-title">FILTRE : </span>

            <span class="news-filter-list hidden-xs">
                <span class="news-filter-active filter-lists">Tous</span>
                <span class="filter-lists "><%="Infos #{Goxygene::Parameter.value_for_group}"%></span>
                <span class="filter-lists">Actus</span>
            </span>

            <div class="hidden-lg hidden-md hidden-sm padding-left-right">
              <div class="m-t-10 news-filter-active">Tous</div>
              <div class="m-t-10"><%="Infos #{Goxygene::Parameter.value_for_group}"%></div>
              <div class="m-t-10">Actus</div>
            </div>

          </div>
        </div>


        <div class="row padding-left-right m-t-30">
          <div class="col-md-12">

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>


                  <div class="m-t-10">
                    <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="border-another-article-title">
                <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>

              <div>
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-10">
                  <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>


                  <div class="m-t-10">
                    <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="row">
                <div class="another-article-header-title-wrapper">
                  <div class="col-md-3 col-xs-3">
                    <div class="calendar-frame m-t-10">
                      <div class="calendar-day">12</div>
                      <div class="calendar-month">Oct</div>
                      <div class="calendar-year">2017</div>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-9">
                    <div class="border-another-article-title">
                      <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                    </div>
                  </div>
                </div>

                <div class="padding-left-right border-another-article-body">
                  <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                  <div class="m-t-10">
                    <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="item border-frame">
              <div class="border-another-article-title">
                <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>

              <div class="info-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-10">
                  <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>