<div class="row">

  <div class="col-xs-12">

    <div class="news">
        <div class="bg-white align-center">
          <div class="news-filter m-t-0">
            <span class="news-filter-title">FILTRE : </span>

            <span class="news-filter-list">
              <span class="m-t-10 news-filter-active">Tous</span>
              <span class="m-t-10"><%="Infos #{Goxygene::Parameter.value_for_group}"%></span>
              <span class="m-t-10">Actus</span>
            </span>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-10">
                  <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-10">
                  <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">
                <div class="pull-left p-r-10">
                  <div class="calendar-frame">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>
            </div>

            <div class="item bg-white border-frame">
              <div class="another-article-header-title-wrapper">

                <div class="overflow-auto">
                  <div class="border-another-article-title">
                    <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                  </div>
                </div>
              </div>

              <div class="border-another-article-body">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-10">
                  <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: '#f2ab1d',
           nav_title: 'News',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>

<style>
  .mobile-app .news-filter {
    font-size: 14px;
  }

  .mobile-app .news-filter-list span {
    padding: 3px 6px;
  }

  .mobile-app .news-filter {
    padding: 15px;
  }

  .mobile-app .news .item .border-another-article-body img.img-responsive {
    width: 100%;
  }

  .mobile-app .border-another-article-title {
    padding-top: 0;
    min-height: auto;
    margin-top: 5px;
  }
  .mobile-app .another-article-header-title-wrapper {
    height: auto;
    overflow: auto;
    padding-bottom: 10px;
  }
</style>