<div class="info">
  <div class="row">
    <div class="col-md-12">
      <div class="row grid-big-left">
        <div class="col-left">
          <div class="article-left-white-bg">
            <div class="info-padding-left-right">
              <div class="article-header">
                <div class="info-header-title">
                  TITRE DE L’INFORMATION ITG LOREM IPSUM DOLOR SIT AMET, CONSECTETUR
                </div>
              </div>

              <div class="article-body">
                <div class="link-lists">
                  <div class="align-center icon-set hidden-xs">
                    <%= image_tag 'bureau_consultant/icon-share', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-twitter', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-linkedin', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-facebook', :class => 'adjust-icon' %>
                  </div>

                  <div class="hidden-lg hidden-md hidden-sm align-center m-t-20">
                    <div class="col-xs-12">
                      <%= image_tag 'bureau_consultant/icon-share', :class => 'adjust-icon' %>
                      <%= image_tag 'bureau_consultant/icon-twitter', :class => 'adjust-icon' %>
                    </div>
                    <div class="col-xs-12 m-t-20 m-b-20">
                      <%= image_tag 'bureau_consultant/icon-linkedin', :class => 'adjust-icon' %>
                      <%= image_tag 'bureau_consultant/icon-facebook', :class => 'adjust-icon' %>
                    </div>
                  </div>
                </div>

                <div>
                  Texte de l’information...Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue placerat
                  elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean
                  pulvinar tellus in libero pellentesque, congue congue urna interdum. Etiam a volutpat sem. Vestibulum
                  ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ornare massa sed erat
                  hendrerit imperdiet. Aliquam sit amet mauris varius, rhoncus risus a, ultrices magna. Quisque euismod
                  ante nibh, eu ornare tellus cursus ac.
                </div>

                <div class="m-t-20">
                  Pellentesque vel odio at nisi feugiat maximus. Etiam sed imperdiet
                  ligula. <%= link_to 'Curabitur posuere', '#', :class => 'custom-link' %> eros et
                  eros vehicula pretium eget ac sem. Donec finibus fringilla sapien, eu consectetur massa pulvinar nec.
                  Donec eleifend, augue at sollicitudin volutpat, urna ex pellentesque orci, eget mattis arcu nibh in
                  orci. Nam maximus id lacus et varius. Nam pharetra ultrices lacus, eu tempor sem sagittis vitae. Sed
                  cursus gravida erat et volutpat. Pellentesque mattis arcu non convallis hendrerit.
                </div>

                <div class="m-t-20">
                  <img src="http://dummyimage.com/400x200/000/fff" class="img-responsive" alt="dummy_img"/>
                </div>

                <div class="m-t-20">
                  Quisque fermentum, est ac dignissim finibus, lorem mauris vestibulum sapien, vel hendrerit eros dui
                  sit amet ex. Aliquam vel nibh scelerisque, hendrerit arcu placerat, tristique purus. Nunc ut bibendum
                  felis. Pellentesque ut ullamcorper felis. Aliquam vel magna a mi mollis vestibulum quis mollis turpis.
                  Nullam ullamcorper sem vel suscipit finibus. Etiam bibendum lacinia enim quis volutpat. Donec
                  fermentum ultricies mi vitae feugiat. Proin elit nibh, iaculis sed imperdiet vestibulum, euismod quis
                  turpis. Pellentesque dui orci, aliquet ut sagittis ac, consequat id felis. Cras at nisl vitae velit
                  placerat laoreet eget quis turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                  per inceptos himenaeos. Fusce maximus ultricies porta. Nunc dolor velit, sodales et massa non, pretium
                  tincidunt justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                  himenaeos.
                </div>

                <div class="m-t-20">
                  Donec facilisis varius velit, vitae sagittis est laoreet
                  a. <%= link_to 'Mauris pretium elit at nibh vestibulum', '#', :class => 'custom-link' %> ,
                  eget convallis turpis tristique. Etiam scelerisque eget ligula non vulputate. Interdum et malesuada
                  fames ac ante ipsum primis in faucibus. Vestibulum porta nisl et nisl convallis, in efficitur nulla
                  convallis. In vestibulum magna vehicula auctor feugiat. Proin hendrerit ultrices ligula nec iaculis.
                  Nunc ac semper justo. Fusce eget dignissim erat. Sed sollicitudin elementum lacus, et blandit nunc
                  vestibulum id. Sed vitae iaculis nisl.
                </div>

                <div class="m-t-20">
                  Pellentesque cursus hendrerit vestibulum. Suspendisse vel nunc urna. Mauris condimentum ornare arcu,
                  vel finibus enim pharetra sed. Vivamus sit amet varius dui. Ut orci libero, accumsan a suscipit sed,
                  tristique sit amet lorem. Suspendisse vitae semper tellus. Interdum et malesuada fames ac ante ipsum
                  primis in faucibus. Pellentesque id fermentum dolor. Proin tempus dolor id elit dapibus, at rutrum sem
                  interdum. Maecenas sit amet maximus mi. Vestibulum ante ipsum primis in faucibus orci luctus et
                  ultrices posuere cubilia Curae; Quisque blandit mollis justo, non finibus ipsum finibus sed.
                  Suspendisse varius lacus neque, quis pulvinar enim pellentesque nec. Integer consectetur lorem eget
                  ultrices vehicula.
                </div>

                <div class="align-center space-top-20">
                  <div class="article-subtitle text-size-normal">Pour en savoir plus, consultez notre page :</div>
                  <div>
                    <button class="yellow-btn">VOTRE PROFIL, NOS SERVICES ADAPTES</button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-right">
          <div class="article-right-white-bg m-b-20">
            <div class="article-header-subtitle align-center article-header">ITG VOUS INFORME</div>
            <div class="border-another-article padding-left-right">
              <div class="border-another-article-title">
                <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>

              <div class="info-another-article-body m-t-20">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-15">
                  <img src="http://dummyimage.com/280x170/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>

            <div class="border-another-article padding-left-right">
              <div class="border-another-article-title ">
                <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>

              <div class="info-another-article-body m-t-20">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-15">
                  <img src="http://dummyimage.com/280x170/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>

            <div class="border-another-article padding-left-right">
              <div class="border-another-article-title">
                <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
              </div>

              <div class="info-another-article-body m-t-20">
                <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

                <div class="m-t-15">
                  <img src="http://dummyimage.com/280x170/000/fff" class="img-responsive center-block" alt="dummy_img"/>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>
  </div>
</div>