<% content_for(:user_account_menu) do %>
    <%= render 'bureau_consultant/shared/mobile_user_account' %>
<% end %>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: '#303030',
           nav_title: 'Aide',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-help', class: 'mobile-nav-icon'), help_index_path),
           nav_right: yield(:user_account_menu) %>

<div class="help">
  <div class="row">
    <div class="<%= Goxygene.is_freeteam? ? 'col' : 'col-md-6' %>">
      <div class="bg-white p-b-20">
        <div class="help-header">
          <div class="help-header-title align-center">QUESTIONS FRÉQUENTES</div>
        </div>
        <div class="help-header-subtitle align-center hidden-xs">RECHERCHER PAR MOTS CLÉS</div>

        <%= search_form_for @q, url: help_index_path do |f| %>
            <div class="row padding-left-right m-t-10">
              <div class="text-center col-xs-12">
                <div class="form-inline" style="display: table">
                  <div class="form-group p-r-10" style="display: table-cell; vertical-align: middle; width: 100%">
                    <%= f.search_field :name,
                                       class: 'search-tab-input form-control input-no-rounded search-categories',
                                       placeholder: "Exemple : Salaire" %>
                  </div>


                    <div class="form-group" style="display: table-cell; vertical-align: middle">
                      <a class="btn btn-violet btn-no-margin btn-no-rounded btn-icon-square visible-xs">
                        <i class="fa fa-search"></i>
                      </a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
        <% end %>


        </div>

        <div class="bg-white m-t-15 p-b-20 m-b-20">
          <div class="help-header">

            <div class="help-header-title align-center">DOCUMENTATION</div>

            <div class="m-t-20">
              <div class="accordion-group" id="accordion" role="tablist" aria-multiselectable="true">

                <% @categories.each_with_index do |c, index| %>

                    <div class="accordion panel-default">
                      <div class="panel-heading help-panel normal collapsed"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           data-target='#menu_<%= index %>'
                           role="tab"
                           style="cursor: pointer">

                        <h4 class="panel-title text-smaller help-panel">
                          <a>
                            <%= c.name %>
                          </a>
                        </h4>

                      </div>
                      <div id="menu_<%= index %>" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body padding-0">
                          <div class="subaccordion">

                            <% c.documentations.each_with_index do |d, index_sub| %>

                                <div class="subaccordion-panel panel-default">
                                  <div class="panel-heading help-panel normal collapsed"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       data-target='#submenu_<%= index %>_<%= index_sub %>'
                                       role="tab"
                                       style="cursor: pointer">
                                    <h4 class="panel-title text-smaller help-panel">
                                      <a>
                                        <%= d.title %>
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="submenu_<%= index %>_<%= index_sub %>" class="panel-collapse collapse" role="subtabpanel">
                                    <div class="panel-body">
                                      <%= link_to raw(d.text), help_download_path(d) %>
                                    </div>
                                  </div>
                                </div>

                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                <% end %>

              </div>
            </div>

          </div>
        </div>

      </div>
      <% if Goxygene.is_freeland? %>
        <div class="col-md-6">
          <div class="bg-white p-b-20 m-b-20">
            <div class="help-header-title align-center">TUTORIELS</div>
            <div class="itg-video-tools">
              <div class="help-header-subtitle align-center"><%="VOS OUTILS #{Goxygene::Parameter.value_for_group}"%></div>

              <div class="video-section padding-left-right">

                <%= link_to '//www.youtube.com/watch?v=31GtWpOoU6E', target: "_blank" do %>
                  <div class="row video-link p-b-20 p-t-20 p-l-15 overflow-auto">
                    <div class="pull-left p-r-15">
                      <%= image_tag get_thumbnail_from_link('31GtWpOoU6E'), class: 'img-square', alt: 'itg' %>
                    </div>

                    <div class="p-r-15 overflow-auto">
                      <div class="video-title">DÉCOUVRIR MES OUTILS DIGITAUX</div>
                      <div class="video-detail"><%="Simplifiez-vous la vie avec les outls digitaux #{Goxygene::Parameter.value_for_group} où que vous soyez!"%>
                      </div>
                    </div>
                  </div>
                <% end %>

                <%= link_to 'https://youtu.be/o8xYvFoyyIw', target: "_blank" do %>
                  <div class="row video-link p-b-20 p-t-20 p-l-15 overflow-auto">
                    <div class="pull-left p-r-15">
                      <%= image_tag get_thumbnail_from_link('o8xYvFoyyIw'), class: 'img-square', alt: 'itg' %>
                    </div>

                    <div class="p-r-15 overflow-auto">
                      <div class="video-title">RÉALISER MA DÉCLARATION D’ACTIVITÉ</div>
                      <div class="video-detail">Comment bien réaliser ma déclaration d’activité chaque
                        fin de mois travaillé afin de percevoir mon salaire.
                      </div>
                    </div>
                  </div>
                <% end %>

                <%= link_to 'https://youtu.be/Pp8IKwvAvzE', target: "_blank" do %>
                  <div class="row video-link p-b-20 p-t-20 p-l-15 overflow-auto">
                    <div class="pull-left p-r-15">
                      <%= image_tag get_thumbnail_from_link('Pp8IKwvAvzE'), class: 'img-square', alt: 'itg' %>
                    </div>

                    <div class="p-r-15 overflow-auto">
                      <div class="video-title">MES CONTRATS DE PRESTATION</div>
                      <div class="video-detail">Comment créer et valider mes contrats de prestation pour mes clients.
                      </div>
                    </div>
                  </div>
                <% end %>

                <%= link_to 'https://youtu.be/2S3ADEHdiWo', target: "_blank" do %>
                  <div class="row video-link p-b-20 p-t-20 p-l-15 overflow-auto">
                    <div class="pull-left p-r-15">
                      <%= image_tag get_thumbnail_from_link('2S3ADEHdiWo'), class: 'img-square', alt: 'itg' %>
                    </div>

                    <div class="p-r-15 overflow-auto">
                      <div class="video-title">MA FACTURATION</div>
                      <div class="video-detail">Comment bien facturer mes clients le plus rapidement possible.
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>

            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <style>
    .help-header {
      padding: 0 10px;
    }

    .subaccordion {
      margin-top: 0;
      padding: 0 10px;
    }

    .panel-title {
      padding-right: 0;
    }

    .help-panel {
      border-radius: 0;
      padding-right: 5px;
      padding-left: 5px;
    }

    .help-panel > .panel-title > a:before {
      float: right !important;
      font-family: FontAwesome;
      content: "\f078";
      padding-right: 5px;
    }

    .help-panel.collapsed > .panel-title > a:before {
      content: "\f054";
    }
  </style>
