<%= render 'keyword_search' %>

<div class="discover-block">
  <h2 class="text-center">DÉCOUVREZ AUSSI :</h2>
  <ul>
    <li class="red-frame">
      <%= link_to service_path('d7'), target: '_blank' do %>
        <p>Ce mois-ci, découvrez :</p>
        <div class="group-name">Le Plan Epargne <br>Entreprise <%= Goxygene::Parameter.value_for_group %></div>
      <% end %>
    </li>
    <li class="red-frame hide">
      <a href="#">
        <div class="icon-heart"></div>
        <div>MES SERVICES FAVORIS</div>
      </a>
    </li>
    <li class="red-frame <%= add_active_class('services', 'all') %>">
      <%= link_to all_services_path do %>
        <div class="icon-key-hand"></div>
        <div class="text-bold">TOUS LES SERVICES <%= Goxygene::Parameter.value_for_group %></div>
      <% end %>
    </li>
  </ul>
</div>