<div class="js-questionnaire-visibility hidden">
      <input type="checkbox" value="#q0_2">
      <input type="checkbox" value="#q0_24">
      <input type="checkbox" value="#q0_50">
      <input type="checkbox" value="#q0_58">
      <input type="checkbox" value="#q0_62">
      <input type="checkbox" value="#q0_63">
      <input type="checkbox" value="#q1_2">
      <input type="checkbox" value="#q1_4">
      <input type="checkbox" value="#q1_6">
      <input type="checkbox" value="#q1_8">
      <input type="checkbox" value="#q1_10">
      <input type="checkbox" value="#q1_12">
      <input type="checkbox" value="#q1_22">
      <input type="checkbox" value="#q1_24">
      <input type="checkbox" value="#q1_26">
      <input type="checkbox" value="#q1_28">
      <input type="checkbox" value="#q1_30">
      <input type="checkbox" value="#q1_32">
      <input type="checkbox" value="#q1_38">
      <input type="checkbox" value="#q1_40">
      <input type="checkbox" value="#q1_42">
      <input type="checkbox" value="#q1_50">
      <input type="checkbox" value="#q1_52">
      <input type="checkbox" value="#q1_54">
      <input type="checkbox" value="#q1_56">
      <input type="checkbox" value="#q1_58">
      <input type="checkbox" value="#q1_59">
      <input type="checkbox" value="#q1_60">
      <input type="checkbox" value="#q1_61">
      <input type="checkbox" value="#q1_63">
      <input type="checkbox" value="#q1_64">
      <input type="checkbox" value="#q2_12">
      <input type="checkbox" value="#q2_14">
      <input type="checkbox" value="#q2_16">
      <input type="checkbox" value="#q2_18">
      <input type="checkbox" value="#q2_20">
      <input type="checkbox" value="#q2_32">
      <input type="checkbox" value="#q2_34">
      <input type="checkbox" value="#q2_36">
      <input type="checkbox" value="#q2_42">
      <input type="checkbox" value="#q2_44">
      <input type="checkbox" value="#q2_46">
      <input type="checkbox" value="#q2_48">
</div>

<div class="js-questionnaire-container btn-group-2-col-block questionnaire-block">
  <h2 class="text-center text-orange">QUELLE EST VOTRE SITUATION ?</h2>
  <div class="row small-gutter">
      <div id="q0_2" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q1_2,#q1_4,#q1_6,#q1_8,#q1_10,#q1_12,#q1_22">
    J'ai une mission
  </div>
</div>

      <div id="q0_24" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q1_24,#q1_26,#q1_28,#q1_30,#q1_32,#q1_38,#q1_40,#q1_42">
    Je recherche une mission
  </div>
</div>

      <div id="q0_50" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q1_50,#q1_52,#q1_54,#q1_56">
    Je souhaite être conseillé sur mon offre de services
  </div>
</div>

      <div id="q0_58" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q1_58,#q1_59,#q1_60,#q1_61">
    Je veux bénéficier d’avantages pour moi et ma famille
  </div>
</div>

      <div id="q0_62" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#e5">
    Je pense à ma retraite
  </div>
</div>

      <div id="q0_63" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q1_63,#q1_64">
    J'ai un projet immobilier
  </div>
</div>

  </div>
</div>

<div class="js-questionnaire-container btn-group-2-col-block questionnaire-block display-none">
  <div class="divider-arrow"></div>
  <h2 class="text-center text-orange">PRÉCISONS VOTRE SITUATION</h2>
  <div class="row small-gutter">
      <div id="q1_2" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a1,#a4">
    Je veux calculer ma rémunération
  </div>
</div>

      <div id="q1_4" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b1,#b2,#b7">
    Je dois animer une formation
  </div>
</div>

      <div id="q1_6" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a9,#b7">
    Je veux travailler en direct pour un client grand compte
  </div>
</div>

      <div id="q1_8" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a7,#e3">
    Je dois réaliser ma mission à l'étranger
  </div>
</div>

      <div id="q1_10" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a4,#b6,#b7">
    Je rencontre une difficulté ponctuelle lors de ma mission
  </div>
</div>

      <div id="q1_12" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q2_12,#q2_14,#q2_16,#q2_18,#q2_20">
    J'ai besoin d'outils pour réaliser ma mission
  </div>
</div>

      <div id="q1_22" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d6,#d7,#d8,#d9">
    Je souhaite optimiser mes revenus
  </div>
</div>

      <div id="q1_24" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b5,#c3">
    Je consulte les offres de missions
  </div>
</div>

      <div id="q1_26" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b9,#c1,#c2,#c3">
    Je souhaite développer mon réseau
  </div>
</div>

      <div id="q1_28" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a1,#a4">
    Je souhaite définir mon tarif de prestation
  </div>
</div>

      <div id="q1_30" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b10,#c1">
    Je souhaite valider mon offre de services
  </div>
</div>

      <div id="q1_32" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q2_32,#q2_34,#q2_36">
    Je souhaite développer mes compétences
  </div>
</div>

      <div id="q1_38" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a4,#b6,#b7">
    Je rencontre une difficulté ponctuelle
  </div>
</div>

      <div id="q1_40" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b3,#b4,#b7">
    Je dois répondre à un appel d'offres
  </div>
</div>

      <div id="q1_42" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#q2_42,#q2_44,#q2_46,#q2_48">
    J'ai besoin d'outils de travail
  </div>
</div>

      <div id="q1_50" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a1,#a4">
    Je veux vérifier le tarif de ma proposition commerciale
  </div>
</div>

      <div id="q1_52" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b9,#b10,#c3">
    Je souhaite valider mon pitch
  </div>
</div>

      <div id="q1_54" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a9,#d1">
    Je recherche des outils pour présenter mon offre de prestation de services
  </div>
</div>

      <div id="q1_56" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b3,#b4,#b7">
    Je dois répondre à un appel d'offres
  </div>
</div>

      <div id="q1_58" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#e2">
    J'ai besoin d'une mutuelle
  </div>
</div>

      <div id="q1_59" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d8">
    J'emploie un salarié à domicile
  </div>
</div>

      <div id="q1_60" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d3">
    J’ai besoin de louer un véhicule
  </div>
</div>

      <div id="q1_61" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#e1">
    Je recherche des offres de loisirs
  </div>
</div>

      <div id="q1_63" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#e4">
    J'ai besoin d'un coup de pouce
  </div>
</div>

      <div id="q1_64" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#e6">
    Je dois monter un plan de financement
  </div>
</div>

  </div>
</div>

<div class="js-questionnaire-container btn-group-2-col-block questionnaire-block display-none">
  <div class="divider-arrow"></div>
  <h2 class="text-center text-orange">DE QUOI AVEZ-VOUS BESOIN ?</h2>
  <div class="row small-gutter">
      <div id="q2_12" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a9">
    Formaliser ma mission
  </div>
</div>

      <div id="q2_14" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d1">
    Professionnaliser mon image
  </div>
</div>

      <div id="q2_16" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d2">
    Trouver des bureaux
  </div>
</div>

      <div id="q2_18" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d3">
    Louer un véhicule
  </div>
</div>

      <div id="q2_20" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d4">
    Gérer mon activité
  </div>
</div>

      <div id="q2_32" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b8">
    Je découvre le parcours de formation sur mesure du consultant <%= Goxygene::Parameter.value_for_group %>
  </div>
</div>

      <div id="q2_34" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b10">
    Je souhaite développer une compétence spécifique
  </div>
</div>

      <div id="q2_36" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#b9">
    Je souhaite m'exercer à la recherche de mission
  </div>
</div>

      <div id="q2_42" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#a9">
    Formaliser ma mission
  </div>
</div>

      <div id="q2_44" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d1">
    Professionaliser mon image
  </div>
</div>

      <div id="q2_46" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d2">
    Trouver des bureaux
  </div>
</div>

      <div id="q2_48" class="js-questionnaire-element col-xs-12 col-sm-6">
  <div class="btn btn-yellow btn-hover btn-no-rounded btn-flex btn-wrapable" data-next="#d3">
    Louer un véhicule
  </div>
</div>

  </div>
</div>

<div class="js-questionnaire-container btn-group-1-col-block display-none">
  <div class="divider-arrow"></div>
  <h2 class="text-center text-orange">
    DECOUVREZ LES SOLUTIONS <%= Goxygene::Parameter.value_for_group %> <br>
    QUI CORRESPONDENT A VOTRE SITUATION
  </h2>
  <ul class="questionnaire text-bold">
          <% if @solution_numbers.include?('A1') %>
<li id="a1" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a1') %>">Simuler mes revenus</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A2') %>
<li id="a2" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a2') %>">Choisir le portage salarial</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A3') %>
<li id="a3" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a3') %>">Atelier découverte du portage</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A4') %>
<li id="a4" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a4') %>">Entretien conseil personnalisé</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A5') %>
<li id="a5" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a5') %>">Journée Marketing du Conseil</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A6') %>
<li id="a6" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a6') %>">Diagnostic Booster</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A7') %>
<li id="a7" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a7') %>">Mes missions à l'international</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A8') %>
<li id="a8" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a8') %>">Signer mon 1er contrat</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A9') %>
<li id="a9" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a9') %>">Le modèle de proposition commerciale <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('A10') %>
<li id="a10" class="js-questionnaire-element questionnaire-boxes dark-purple">
  <div class="left-icon">
    <div class="icon-middle icon-rocket"></div>
  </div>
  <a class="right-content" href="<%= service_path('a10') %>">Test : quel statut pour mon projet?</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B1') %>
<li id="b1" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b1') %>">Kit Formateur</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B2') %>
<li id="b2" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b2') %>">Les habilitations professionnelles <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B3') %>
<li id="b3" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b3') %>">Coup de pouce appel d'offres</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B4') %>
<li id="b4" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b4') %>">Accèder aux grands comptes via <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B5') %>
<li id="b5" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b5') %>">La plateforme de missions</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B6') %>
<li id="b6" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b6') %>">Flash coaching</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B7') %>
<li id="b7" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b7') %>">Autoévaluer mes besoins de formation</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B8') %>
<li id="b8" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b8') %>">Académie <%= Goxygene::Parameter.value_for_group %> : Mon parcours de formation sur mesure</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B9') %>
<li id="b9" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b9') %>">Académie <%= Goxygene::Parameter.value_for_group %> : Atelier de recherche de mission</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('B10') %>
<li id="b10" class="js-questionnaire-element questionnaire-boxes purple">
  <div class="left-icon">
    <div class="icon-middle icon-arrow-up"></div>
  </div>
  <a class="right-content" href="<%= service_path('b10') %>">Académie <%= Goxygene::Parameter.value_for_group %> : Modules elearning</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('C1') %>
<li id="c1" class="js-questionnaire-element questionnaire-boxes red">
  <div class="left-icon">
    <div class="icon-middle icon-meetup"></div>
  </div>
  <a class="right-content" href="<%= service_path('c1') %>">Le Meet Up des Consultants</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('C2') %>
<li id="c2" class="js-questionnaire-element questionnaire-boxes red">
  <div class="left-icon">
    <div class="icon-middle icon-meetup"></div>
  </div>
  <a class="right-content" href="<%= service_path('c2') %>">Le club e-santé</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('C3') %>
<li id="c3" class="js-questionnaire-element questionnaire-boxes red">
  <div class="left-icon">
    <div class="icon-middle icon-meetup"></div>
  </div>
  <a class="right-content" href="<%= service_path('c3') %>">Espace collaboratif <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D1') %>
<li id="d1" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d1') %>">Professionaliser mon image</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D2') %>
<li id="d2" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d2') %>">Espace Coworking</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D3') %>
<li id="d3" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d3') %>">Location de véhicule</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D4') %>
<li id="d4" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d4') %>">Mon espace <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D5') %>
<li id="d5" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d5') %>">Atelier d'intégration</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D6') %>
<li id="d6" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d6') %>">Mon bilan Annuel d'Activité</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D7') %>
<li id="d7" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d7') %>">Le Plan Epargne Entreprise <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D8') %>
<li id="d8" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d8') %>">Mes Chèques Emploi Service (CESU)</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D9') %>
<li id="d9" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d9') %>">Gérer mes frais professionnels</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('D10') %>
<li id="d10" class="js-questionnaire-element questionnaire-boxes orange">
  <div class="left-icon">
    <div class="icon-middle icon-euro"></div>
  </div>
  <a class="right-content" href="<%= service_path('d10') %>">Coffre fort électronique</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E1') %>
<li id="e1" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e1') %>">Le comité d'entreprise <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E2') %>
<li id="e2" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e2') %>">Ma Mutuelle <%= Goxygene::Parameter.value_for_group %></a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E3') %>
<li id="e3" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e3') %>">Pass Mission Monde</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E4') %>
<li id="e4" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e4') %>">Immobilier : mon plan de financement</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E5') %>
<li id="e5" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e5') %>">Mon bilan retraite personnalisé</a>
</li>
<%- end -%>

      <% if @solution_numbers.include?('E6') %>
<li id="e6" class="js-questionnaire-element questionnaire-boxes yellow">
  <div class="left-icon">
    <div class="icon-middle icon-ok-hand"></div>
  </div>
  <a class="right-content" href="<%= service_path('e6') %>">Immobilier : Bénéficier du 1% Logement</a>
</li>
<%- end -%>

  </ul>
</div>
