<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row grid-big-right my-services search-page">
      <div class="col-left">
        <div class="content-wrapper bg-white m-b-20">
          <%= render 'left_panel' %>
        </div>
      </div>

      <div class="col-right">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <div class="bg-white">

              <div class="btn-group-1-col-block m-t-0">
                <div class="service-all-wrapper">
                  <ul class="panel-group service-all text-bold" id="accordion">
                    <% @cms_pages.each do |solution_group, cms_pages| %>
                        <% next if cms_pages.size == 0 %>
                        <li class="panel panel-default service-all-boxes <%= render_color_class(solution_group) %> accordion">
                          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#service-all-collapse-<%= solution_group %>">
                            <div class="left-icon">
                              <div class="icon-middle">
                                <div class="icon-middle <%= render_icon_class(solution_group) %>"></div>
                              </div>
                            </div>
                            <%= link_to cms_pages.first.category_name, '#', class: 'right-content' %>
                          </div>
                          <div class="panel-body panel-collapse collapse" id="service-all-collapse-<%= solution_group %>">
                            <ul class="list-with-arrow-rounded text-normal">
                              <% cms_pages.each do |cms_page| %>
                                  <li><%= link_to cms_page.solution_name, service_path(cms_page) %></li>
                              <% end %>
                            </ul>
                          </div>
                        </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
