<div class="row m-b-40">
  <div class="col-xs-12">
    <div class="row grid-big-left my-services favorites">

      <div class="col-left">
        <div class="row">
          <div class="col-xs-12">
            <div class="bg-white padding-20">

              <div class="text-center">
                <div class="content-group-tabs">
                  <%= link_to 'PAPIER EN-TÊTE', services_paper_template_services_path, class: 'btn btn-violet btn-no-rounded m-t-20' %>
                  <%= link_to 'CARTES DE VISITE', services_contact_card_services_path, class: 'btn btn-empty-violet btn-no-rounded m-t-20' %>
                </div>
              </div>

              <p>
                En fonction de ma société de rattachement du Groupe ITG, je peux utiliser le modè̀le de papier à
                entête de cette société.
              </p>

              <br>

            </div>
          </div>
        </div>
      </div>

      <div class="col-right">
        <div class="content-wrapper bg-white">
          <div class="download-block text-center padding-30">
            <h2>CHOISIR VOTRE <br> PAPIER À ENTÊTE</h2>

            <%= link_to 'PAPIER À ENTÊTE ITG', 'https://bureau.itg.fr/dl_fic_outils/021117_090712_FIC.doc',
                        title: 'Télécharge le fichier', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>
            <%= link_to 'PAPIER À ENTÊTE ITG CONSEIL', 'https://bureau.itg.fr/dl_fic_outils/021117_092224_FIC.doc',
                        title: 'Télécharge le fichier', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>
            <%= link_to 'PAPIER À ENTÊTE ITG CONSTRUCTION', '#',
                        title: 'Télécharge  lien fichier  A VENIR', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>
            <%= link_to 'PAPIER À ENTÊTE ITG CONSULTANTS', 'https://bureau.itg.fr/dl_fic_outils/021117_092224_FIC.doc',
                        title: 'Télécharge le fichier', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>
            <%= link_to 'PAPIER À ENTÊTE ITG FORMATION', 'https://bureau.itg.fr/dl_fic_outils/021117_093609_FIC.doc',
                        title: 'Télécharge le fichier', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>
            <%= link_to 'PAPIER À ENTÊTE <br>MONTGOMERY CONSEIL'.html_safe, 'https://bureau.itg.fr/dl_fic_outils/021117_103501_FIC.pdf',
                        title: 'Télécharge le fichier', class: 'btn btn-block btn-red btn-no-rounded m-b-15' %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

