<div class="row grid-big-right my-services page-show">



  <div class="col-right foldable-panel foldable-left-panel" style="position: relative">
    <%= raw @page_content %>

    <div class="text-center top-cms-buttons">
      <%= link_to 'IMPRIMER', fiches_services.cms_page_path(@cms_page, format: :pdf), target: '_blank', class: 'btn btn-hover btn-rouge btn-no-rounded btn-roboto btn-icon-left m-r-10' %>
      <%= link_to 'ENVOYER', fiches_services.new_send_email_cms_page_path, remote: true, class: 'btn btn-hover btn-rouge btn-no-rounded btn-roboto', onclick: 'showRightPanel()' %>
    </div>

    <div class="text-center m-t-30 m-b-30">
      <%= link_to 'IMPRIMER', fiches_services.cms_page_path(@cms_page, format: :pdf), target: '_blank',
                  style: 'min-width: auto',
                  class: 'btn-bs-custom btn btn-hover btn-rouge btn-no-rounded btn-roboto btn-icon-left m-r-10' %>
      <%= link_to 'ENVOYER', fiches_services.new_send_email_cms_page_path, remote: true,
                  class: 'btn btn-bs-custom btn-hover btn-rouge btn-no-rounded btn-roboto',
                  style: 'min-width: auto',
                  onclick: 'showRightPanel()' %>
    </div>
  </div>

  <div class="col-left foldable-panel foldable-right-panel" style="display: none">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <div class="p-t-40 popup-closable bg-orange-lite">
            <a href="#" class="popup-close-btn" onclick="showLeftPanel()"></a>

            <div class="foldable-panel-spinner">
              <div class="spinner-overlay"></div>
              <div class="loading-spinner m-t-100">
                <%= image_tag 'fiches_services/spinner' %>
              </div>
            </div>

            <div id="service-send-email-block">
              <%= render 'fiches_services/cms/pages/send_email_form', service_email: @service_email %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: '#d80039',
           nav_title: @cms_page.solution_name,
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack()'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>

<style type="text/css">
  /* ------ Custom styles for mobile app ------ */

  .mobile-app .my-services {
    margin-top: 0;
    padding: 0 15px;
  }

  .mobile-app .col-right .template-text-color {
    font-size: 20px;
    text-align: center;
    margin-top: -10px;
  }

  .mobile-app .wicked-page-no.first > div:nth-child(1) {
    height: 165px;
    overflow: hidden;
  }
  .mobile-app .wicked-page-no.first > div:nth-child(1) p {
    font-size: 14px;
  }

  .mobile-app .wicked-page-no.first > div:nth-child(2) {
    height: 250px;
    overflow: hidden;
  }
  .mobile-app .wicked-page-no.first > div:nth-child(2) img {
    height: 100%;
    margin-left: -15%;
  }

  .mobile-app .col-right .top-cms-buttons {
    margin-top: 180px !important;
  }
  .mobile-app .col-right .top-cms-buttons .btn {
    border-radius: 0;
    border: 0;
    width: auto;
    min-width: auto;
    margin: 0;
  }

</style>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $(".template-text-color").attr('style', '');
    $($(".mobile-app .wicked-page-no > div")[1]).find('img').attr('style', '');
    $(".wicked-page-no").first().addClass('first');
  });

  $(".mobile-cols-wrapper").removeClass('with-menus');

  function showRightPanel() {
    toggleFoldableColumns($('.foldable-left-panel'), $('.foldable-right-panel'));
  }

  function showLeftPanel() {
    toggleFoldableColumns($('.foldable-right-panel'), $('.foldable-left-panel'));
  }

  function toggleFoldableColumns(elementToBeHide, elementToBeShow) {
    if(elementToBeHide.is(':visible')) {
      elementToBeHide.hide();
    }

    if(elementToBeShow.is(':hidden')) {
      elementToBeShow.show();
    }
  }
</script>


