<div class="stat-board">
  <div class="container">
    <div class="text-center">
      <div class="board-title">
        <%= link_to image_tag('bureau_consultant/icon-bank'), bureau_consultant.root_path %>
      </div>

      <div class="stat-wrapper hidden-xs">
        <a class="stat" href="/bureau_consultant/accounts/financial"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p>Vous retrouvez <b>l'indicateur financier</b>, affichant en temps réel le montant de votre solde disponible.</p><p>Cette somme <b>augmente</b>, par exemple, lors de l'encaissement de vos factures ou <b>diminue</b>, notamment, lorsque vous vous versez un salaire diminué des charges ou encore si vous demandez le remboursement de vos frais.</p>">
          <div class="title" style="line-height: 1.2">Solde financier<br><span class="small">(dont réserve financière si CDI)</span></div>
          <div class="value orange"><%= current_consultant.dashboard_activity %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/billing"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p><b>L'indicateur facturation</b>, est le montant HT (net des frais de gestion) de vos factures envoyées chez vos clients et qui ne sont pas encore réglées.</p><p>Dès le règlement, elles alimenteront instantanément votre compte financier</p>">
          <div class="title">Facturation</div>
          <div class="value"><%= current_consultant.dashboard_invoicing %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/treasury"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p><b>L'indicateur trésorerie</b> enregistre les flux entre <%= current_consultant.itg_establishment.name %> et Vous.</p><p>Par exemple, une avance d'<%= current_consultant.itg_establishment.name %> fera apparaître une trésorerie négative, à l'inverse le remboursement de votre immobilisation (comme un ordinateur) rendra le compte nul">
          <div class="title">Trésorerie</div>
          <div class="value"><%= current_consultant.dashboard_cash %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/salary"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p><b>L'indicateur salaire</b>, est un aperçu du montant de vos salaires en cours de traitement.</p>">
          <div class="title">Salaire</div>
          <div class="value salary"><%= current_consultant.dashboard_next_salary %></div>
        </a>
        <a class="stat <%= 'disabled' unless current_consultant.allowed_expenses_refund? %>" href="/bureau_consultant/accounts/pending_costs"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p><b>L'indicateur frais</b>, présente le montant de vos frais en cours de traitement et qui ne vous ont pas encore été remboursés.</p>">
          <div class="title">Frais</div>
          <div class="value expenses"><%= current_consultant.dashboard_expenses %></div>
        </a>
        <a class="stat no-mrg-right" href="/bureau_consultant/accounts/transfers"
             data-toggle="popover"
             data-html="true"
             data-trigger="hover"
             data-container="body"
             data-placement="auto bottom"
             data-content="<p><b>L'indicateur virement</b>, présente le montant de vos virements en cours de traitement</p>">
          <div class="title">Virements</div>
          <div class="value">0,00 €</div>
        </a>
      </div>

      <div class="stat-wrapper-mobile visible-xs">
        <a class="stat" href="/bureau_consultant/accounts/financial">
          <div class="title" style="line-height: 1.2">Solde financier<br><span class="small">(dont réserve <br>financier si CDI)</span></div>
          <div class="value orange"><%= current_consultant.dashboard_activity %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/billing">
          <div class="title">Facturation</div>
          <div class="value"><%= current_consultant.dashboard_invoicing %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/treasury">
          <div class="title">Trésorerie</div>
          <div class="value"><%= current_consultant.dashboard_cash %></div>
        </a>
        <a class="stat" href="/bureau_consultant/accounts/salary">
          <div class="title">Salaire</div>
          <%# TODO : fix dashboard_next_salary %>
          <div class="value"><%#= current_consultant.dashboard_next_salary %></div>
        </a>
        <a class="stat <%= 'disabled' unless current_consultant.allowed_expenses_refund? %>" href="/bureau_consultant/accounts/pending_costs">
          <div class="title">Frais</div>
          <%# TODO : fix dashboard_expenses %>
          <div class="value"><%#= current_consultant.dashboard_expenses %></div>
        </a>
        <a class="stat no-mrg-right" href="/bureau_consultant/accounts/transfers">
          <div class="title">Virements</div>
          <div class="value">0,00 €</div>
        </a>
      </div>

    </div>
  </div>
</div>
