<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= render 'layouts/bureau_consultant/google_analytics_user_id' %>
  <%= render 'layouts/bureau_consultant/google_tag_manager' %>

  <title><%= Goxygene::Parameter.value_for_group %> Bureau Consultant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Handlee" %>
  <%= stylesheet_link_tag "bureau_consultant/application", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

  <%= javascript_include_tag "bureau_consultant/application" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/bureau_consultant/google_tag_manager_noscript' %>

  <div class="header-wrapper">
    <nav id="headerH" class="navbar navbar-default navbar-fixed-top header">
      <div class="container-fluid">
        <div class="navbar-header"><span id="menu-btn"><i class="fa fa-bars"></i></span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span> <i class="userMobile fa fa-user"></i>
          </button>
          <a class="navbar-brand" href="/bureau_consultant/home">
            <%= image_tag display_logo_image_path(current_consultant), class: 'hidden-xs hidden-sm', style: 'max-width: 180px; max-height: 64px;' %>
            <% if Goxygene.is_freeteam? %>
              <%= image_tag 'bureau_consultant/logo-header-freeteam-xs.png', class: 'visible-xs visible-sm' %>
            <% else %>
              <%= image_tag 'bureau_consultant/logo-header-itg-xs.png', class: 'visible-xs visible-sm' %>
            <% end %>
          </a><span id="breadcrumbHeader"><%= Goxygene::Parameter.value_for_group %></span>
        </div>
        <div id="user-account" class="navbar-collapse collapse pull-right">
          <div class="notification">
            <div class="notification-icon dropdown">
              <span class="m-r-10"
                   data-toggle="popover"
                   data-html="true"
                   data-trigger="hover"
                   data-container="body"
                   data-placement="auto bottom"
                   data-content="Votre conseiller de gestion, <%= current_consultant.correspondant_employee&.individual&.full_name %>, se tient à votre disposition au <%= current_consultant.correspondant_employee&.contact_datum&.phone %> pour toute question.">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                    <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
                  </svg>
              </span>
              <% if Goxygene.is_freeland? %>
                <span>
                  <%= link_to image_tag('bureau_consultant/icon-vault'), 'https://www.mypeopledoc.com', target: :_blank, style: "position: relative; top: -7px;" %>
                </span>
              <% end %>
            </div>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li id="user-name">
              <div class="text-right"><%= "#{current_cas_authentication.cas_user.individual.first_name} #{current_cas_authentication.cas_user.individual.last_name}" %></div>
            </li>

            <% if impersonating? %>
                <li class="user-icon"><%= link_to fa_icon('eye-slash'), stop_impersonating_users_path, method: :post %></li>
            <% else %>
                <li class="user-icon dropdown">
                  <div class="dropdown-toggle" data-toggle="dropdown">
                    <%= link_to image_tag('bureau_consultant/icon-user'), 'user-account-menu' %>
                  </div>
                  <ul class="dropdown-menu popover-menu">
                    <li><%= link_to t('header.disconnection'), main_app.destroy_cas_authentication_session_path, method: :delete %></li>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>
        <%= render partial: 'layouts/bureau_consultant/stat_header' %>
      </div>
    </nav>

    <div id="menu">
      <div id="profilMenu">
        <div class="userName">
          <div><%= "#{current_cas_authentication.cas_user.individual.first_name} #{current_cas_authentication.cas_user.individual.last_name}" %></div>
          <div class="small"><%= "#{current_cas_authentication.login}" %></div>
        </div>
        <div class="notificationMenu">
          <% if impersonating? %>
              <%= link_to fa_icon('eye-slash'), stop_impersonating_users_path, method: :post, class: 'account-icon' %>
          <% else %>
              <%= link_to fa_icon('sign-out'), main_app.destroy_cas_authentication_session_path, method: :delete, class: 'account-icon', title: 'Se déconnecter' %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <ul class="navbar-main">
          <li class="dropdown menu-purple <%= add_active_class('financial_operations') %>">
            <%= link_to 'MES OPÉRATIONS <br>FINANCIÈRES'.html_safe, financial_operations_path,
                        class: 'dropdown-toggle disabled', data: { toggle: 'dropdown'} %>
            <ul class="hide dropdown-menu multi-level" role="menu">
              <li><%= link_to "MES DÉCLARATIONS D’ACTIVITÉ", history_statement_of_activities_path %></li>
              <li><%= link_to "MA FACTURATION", history_invoice_requests_path %></li>
              <li class="dropdown-submenu <%= 'disabled' unless current_consultant.allowed_expenses_refund? %>">
                <a tabindex="-1" href="#">MES NOTES DE FRAIS</a>
                <ul class="dropdown-menu">
                  <li><a href="<%= history_statement_of_operating_expenses_requests_path %>">HISTORIQUE DE MES DEMANDES DE DÉPENSES DE FONCTIONNEMENT</a></li>
                  <li><a href="<%= history_statement_of_operating_expenses_path %>">HISTORIQUE DE MES DÉPENSES DE FONCTIONNEMENT</a></li>
                  <li><a href="<%= pending_costs_accounts_path %>">MES NOTES DE FRAIS EN ATTENTE DE RÉGLEMENT</a></li>
                  <li><a href="<%= paid_costs_accounts_path %>">HISTORIQUE DE MES NOTES DE FRAIS RÉGLÉES</a></li>
                </ul>
              </li>
              <li>
                <%= link_to 'MES AVANCES', history_advances_path %>
              </li>
            </ul>
          </li>
          <% if Goxygene.is_freeteam? %>
            <li class="dropdown menu-orange menu-short-md">
              &nbsp;
            </li>
            <li class="dropdown menu-red <%= add_active_class('commercial_activities') %>">
              <%= link_to 'MON ACTIVITÉ <br>COMMERCIALE'.html_safe, commercial_activities_path,
                          class: 'dropdown-toggle disabled', data: { toggle: 'dropdown'} %>
              <ul class="hide dropdown-menu multi-level" role="menu">
                <li><%= link_to 'MES CONTRATS D’INTERVENTION', contract_signed_commercial_contracts_path %></li>
                <li class="hide"><%= link_to 'FAIRE UNE SIMULATION', simulations_path %></li>
              </ul>
            </li>
          <% else %>
            <li class="dropdown menu-red <%= add_active_class('commercial_activities') %>">
              <%= link_to 'MON ACTIVITÉ <br>COMMERCIALE'.html_safe, commercial_activities_path,
                          class: 'dropdown-toggle disabled', data: { toggle: 'dropdown'} %>
              <ul class="hide dropdown-menu multi-level" role="menu">
                <li><%= link_to 'MES CONTRATS D’INTERVENTION', contract_signed_commercial_contracts_path %></li>
                <li class="hide"><%= link_to 'FAIRE UNE SIMULATION', simulations_path %></li>
              </ul>
            </li>
            <% unless current_consultant.is_porteo? %>
              <li class="dropdown menu-orange menu-short-md">
                <a target="_blank" href="https://academie.freeland.com/Account/loginChoice?rt=Lw==">MES<br/>FORMATIONS</a>
              </li>
            <% end %>
          <% end %>

          <li class="menu-plus"
              data-toggle="popover"
              data-trigger="hover"
              data-placement="auto top"
              data-content="<%= t('declaration_activities.declare_my_activity') %>">
            <%= link_to fa_icon(:plus), new_statement_of_activity_path %>
          </li>
          <% if Goxygene.is_freeland? %>
            <li class="dropdown menu-lite-red menu-short-md <%= add_active_class('network') %>">
              <%= link_to 'MON <br>RÉSEAU'.html_safe, 'https://reseau.itg.fr', target: '_blank' %>
            </li>
            <% unless current_consultant.is_porteo? %>
              <li class="dropdown menu-lite-red menu-short-md <%= add_active_class('services') %>">
                <%= link_to 'MES <br>SERVICES'.html_safe, services_path %>
              </li>
            <% end %>
            <li class="dropdown menu-orange menu-short-md">
                <%= link_to "Obtenir<br/>des outils".html_safe, freelance_stack_redirect_path, target: "_blank" %>
                <div class="popin">
                    <div class="popin-content">
                    <ul>
                        <li><%= link_to "Descriptif du service", freelance_stack_details_path %></li>
                        <li><%= link_to "Découvrir les meilleures offres", freelance_stack_redirect_path, target: "_blank" %></li>
                    </ul>
                    </div>
                </div>
            </li>
          <% end %>

        </ul>

        <ul class="navbar-info" id="menu-widgets-right">
          <% unless current_consultant.is_porteo? %>
            <li
              data-toggle="popover"
              data-trigger="hover"
              data-placement="auto top"
              data-content="Documentation">
              <a href="/bureau_consultant/help"><%= image_tag 'bureau_consultant/icon-help' %></a>
            </li>
            <% if Goxygene.is_freeland? %>
              <li
                data-toggle="popover"
                data-trigger="hover"
                data-placement="auto top"
                data-content=<%="Infos #{Goxygene::Parameter.value_for_group}"%>
                <a href="/bureau_consultant/articles"><%= image_tag 'bureau_consultant/icon-refresh' %></a>
              </li>
            <% end %>
          <% end %>
          <li
            data-toggle="popover"
            data-trigger="hover"
            data-placement="auto top"
            data-content="Écrire à votre conseiller">
            <a href="/bureau_consultant/contacts"><%= image_tag 'bureau_consultant/icon-message' %></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menubar-responsive"
         data-toggle="popover"
         data-trigger="hover"
         data-placement="auto top"
         data-content="<%= t('declaration_activities.declare_my_activity') %>">
      <%= link_to fa_icon(:plus), new_statement_of_activity_path, class: 'menu-plusresponsive' %>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <%= render 'layouts/bureau_consultant/flash_alert' %>
      <%= yield %>
    </div>
  </div>

  <div class="footer container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-right" title="<%= true_cas_authentication.login %>">
        <span class="clr-red"><%= true_cas_authentication.login %> <i class="fa fa-user-secret"></i></span>
      </span>
      </div>
    </div>
  </div>
  <div id="mask" style="display: none"></div>
<div class="container modal" style="display: none;"></div>
<%= render 'layouts/bureau_consultant/intercom' %>
<%= render 'layouts/bureau_consultant/satismeter' %>
</body>
</html>
