<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= render 'layouts/bureau_consultant/google_tag_manager' %>

  <title><%= Goxygene::Parameter.value_for_group %> Bureau Consultant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Handlee" %>
  <%= stylesheet_link_tag "bureau_consultant/application", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

  <%= javascript_include_tag "bureau_consultant/application" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js" %>

  <%= csrf_meta_tags %>

  <!-- Mobile app styles -->
  <style>
    .mobile-cols-wrapper {
      /*margin-left: -10px;*/
      /*margin-right: -10px*/
      height: 100%;
    }
    .mobile-left-menus {
      float: left;
      width: 80px;
      padding: 0;
      position: fixed;
      top: 0;
      padding-top: 46px;
      padding-left: -10px;

      overflow-y: scroll;
      height: 100%;

      margin-left: -90px;
      transition: margin-left 0.1s;
      transition-timing-function: ease-in-out;
    }
    .mobile-left-menus.with-bottom-menu {
      padding-bottom: 46px;
    }
    .mobile-right-content {
      width: auto;
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      position: relative;

      padding: 10px;

      /*margin-top: 10px;*/
      height: 100%;

      margin-left: 0px;
      transition: margin-left 0.1s;
      transition-timing-function: ease-in-out;
    }

    .mobile-left-menus ul {
      list-style: none;
      padding-left: 0;
    }
    .mobile-left-menus .menu-item {
      font-size: 8px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      background: yellow;

      display: table;
      /*float: left;*/
      width: 100%;
      height: 70px;
      color: white;
    }
    .mobile-left-menus .menu-item a {
      display: table-cell;
      vertical-align: middle;
      color: white;
    }
    .mobile-left-menus .menu-item a img {
      width: 28px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .mobile-nav-icon {
      width: 28px;
    }

    .mobile-cols-wrapper.with-menus .mobile-left-menus {
      margin-left: 0px;
    }
    .mobile-cols-wrapper.with-menus .mobile-right-content {
      margin-left: 80px;
    }

    .swipe-area {
      /*position: absolute;*/
      position: fixed;
      /*width: 50px;*/
      width: 20px;
      left: 0;
      top: 46px;
      height: 100%;
      z-index: 2;
    }

    .mobile-cols-wrapper.with-menus .swipe-area {
      left: 80px;
    }

    .bottom-wrapper {
      position: fixed;
      bottom: 0;
      width: 100%;
      color: white;
    }
    .bottom-wrapper a {
      color: white;
    }
    .with-bottom-menu {
      padding-bottom: 36px;
    }

    .mobile-app .btn-bs-custom {
      border-radius: 0;
      border: 0;
      width: auto;
      margin: 0;
    }
    .mobile-app .btn-bs-custom.btn-block {
      width: 100%;
    }
    .mobile-app h2 {
      font-size: 16px !important;
    }
    .mobile-bottom-nav {
      z-index: 2;
    }
    .mobile-cols-wrapper .modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 5;
      display: block;
    }
    .modal-backdrop.fade.in {
      z-index: -1;
    }
  </style>
</head>
<body class="mobile-app">
  <%= render 'layouts/bureau_consultant/google_tag_manager_noscript' %>

  <div class="header-wrapper mobile-top-nav" style="z-index: 10;">

    <div style="position: relative; top: 0 !important; color: white;
        height: 46px; display: table; vertical-align: middle; width: 100%;
        background-color: <%= content_for?(:mobile_nav_color) ? yield(:mobile_nav_color) : ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861' %>">

      <div style="display: table-cell; vertical-align: middle; padding-left: 15px; padding-right: 15px" class="nav-left text-left">
        <%= yield :mobile_nav_left %>
      </div>

      <div class="nav-title text-bigger text-center text-upcase"
           style="display: table-cell; padding-left: 15px; padding-right: 15px; vertical-align: middle; line-height: 1.1">
        <%= content_for?(:mobile_nav_title) ? yield(:mobile_nav_title) : "#{Goxygene::Parameter.value_for_group}" %>
      </div>

      <div style="display: table-cell; vertical-align: middle; padding-left: 15px; padding-right: 15px" class="nav-right text-right">
        <%= yield :mobile_nav_right %>
      </div>
    </div>

  </div>

  <div class="main-content" style="padding-top: 46px; height: 100%; width: 100%; position: absolute;">
    <div class="mobile-cols-wrapper with-menus">
      <div class="mobile-left-menus <%= 'with-bottom-menu' if content_for?(:mobile_nav_bottom_content) %>">
        <%= render 'bureau_consultant/shared/mobile_menus' %>
      </div>

      <div class="mobile-right-content">
        <div class="swipe-area"></div>
        <%= yield %>
      </div>
    </div>
  </div>

  <% if content_for?(:mobile_nav_bottom_content) %>
  <div class="bottom-wrapper mobile-bottom-nav">
    <div style="position: relative; bottom: 0 !important; color: white;
        height: 46px; display: table; vertical-align: middle; width: 100%;
        background-color: <%= content_for?(:mobile_nav_bottom_color) ? yield(:mobile_nav_bottom_color) : ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861' %>">

      <div class="text-bigger text-center text-upcase"
           style="display: table-cell; padding-left: 15px; padding-right: 15px; vertical-align: middle; line-height: 1.1">
        <%= content_for?(:mobile_nav_bottom_content) ? yield(:mobile_nav_bottom_content) : "#{Goxygene::Parameter.value_for_group}" %>
      </div>
    </div>
  </div>
  <% end %>

  <div id="mask" style="display: none"></div>
  <div class="container modal" style="display: none"></div>

  <% if content_for?(:mobile_modals) %>
    <%= yield(:mobile_modals) %>
  <% end %>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $(".swipe-area").swipe({
            swipeStatus:function(event, phase, direction, distance, duration, fingers)
            {
                if (phase=="move" && direction =="right") {
                    $(".mobile-cols-wrapper").addClass("with-menus");
                    return false;
                }
                if (phase=="move" && direction =="left") {
                    $(".mobile-cols-wrapper").removeClass("with-menus");
                    return false;
                }
            }
        });
    });

    function navGoBack() {
        this.event.preventDefault();

        // var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

        // if(isSafari) {
        //     window.postMessage("navigate.back");
        // } else {
            window.history.back();
        // }
    }
  </script>
</body>
</html>
