<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= Goxygene::Parameter.value_for_group %> Bureau Consultant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Handlee" %>
  <%= stylesheet_link_tag "bureau_consultant/application", media: "all" %>

  <%= javascript_include_tag "bureau_consultant/application" %>
  <%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-wrapper">
    <nav id="headerH" class="navbar navbar-default navbar-fixed-top header">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/bureau_consultant/home">
            <% if Goxygene.is_freeteam? %>
              <%= image_tag 'bureau_consultant/logo-header-freeteam.png', class: 'hidden-xs hidden-sm' %>
              <%= image_tag 'bureau_consultant/logo-header-freeteam-xs.png', class: 'visible-xs visible-sm' %>
            <% else %>
              <%= image_tag 'bureau_consultant/logo-header-itg.png', class: 'hidden-xs hidden-sm' %>
              <%= image_tag 'bureau_consultant/logo-header-itg-xs.png', class: 'visible-xs visible-sm' %>
            <% end %>
          </a><span id="breadcrumbHeader"><%= Goxygene::Parameter.value_for_group %></span>
        </div>
      </div>
    </nav>
    <div id="menu"></div>
  </div>

  <div class="container">
    <div class="main-content">
      <%= yield %>
    </div>
  </div>

  <div class="footer container-fluid">
    <div class="row">
      <div class="col-xs-12">
      </span>
      </div>
    </div>
  </div>
</body>
</html>
