<div>
  <%= f.link_to_add :office_business_contract_expenses, class: 'business-contract-expenses-plus', data: { target: '#office_business_contract_expenses_mobile' } do %>
    ajouter
  <% end %>

  <hr/>

  <div id="office_business_contract_expenses_mobile">
    <%= f.fields_for :office_business_contract_expenses,
                     f.object.office_business_contract_expenses.sort_by {|l| l.persisted? ? "#{l.created_at.to_i}#{l.created_at.usec}".to_i : '9999-99-99'},
                     wrapper: false, id: 'office_business_contract_expenses_mobile_form' do |business_contract_expense| %>
      <div class="well fields">
        <div class="form-group">
          <%= business_contract_expense.label 'Action', class: 'control-label col-sm-5' %>
          <div class="col-sm-7">
            <%= business_contract_expense.text_field :label, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= business_contract_expense.label 'Coût unitaire', class: 'control-label col-sm-5' %>
          <div class="col-sm-7 expense-cost">
            <%= business_contract_expense.text_field :cost, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= business_contract_expense.label 'Heures', class: 'control-label col-sm-5' %>
          <div class="col-sm-7 expense-number">
            <%= business_contract_expense.text_field :number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group expense-trainees">
          <%= business_contract_expense.label 'Stagiaires', class: 'control-label col-sm-5' %>
          <div class="col-sm-7">
            <%= business_contract_expense.text_field :trainees, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= business_contract_expense.label 'Total', class: 'control-label col-sm-5' %>
          <div class="col-sm-7 expense-total">
            <%= business_contract_expense.text_field :total_cost, class: 'form-control' %>
          </div>
        </div>
        <%= business_contract_expense.link_to_remove class: 'remove-nested-form-link', data: {confirm: t("views.confirm_deletion")} do %>
          supprimer
        <% end %>
      </div>
      <hr/>

    <% end %>
  </div>

  <div class="well">
    <h4>Totaux</h4>
    <div class="form-group">
      <label class="col-sm-5 control-label">Coût unitaire</label>
      <div class="col-sm-7 total-expense-cost">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Heures</label>
      <div class="col-sm-7 total-expense-number">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Stagiaires</label>
      <div class="col-sm-7 total-expense-trainees">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Total</label>
      <div class="col-sm-7 total-expense-total">
      </div>
    </div>
  </div>

</div>
