<%=
  nested_form_for @office_training_agreement,
           url: { action: "create" },
           method: :post,
           html: {
               class: 'form-horizontal office_training_agreement',
               enctype: 'multipart/form-data'
           },
           validate: true do |f|
%>

    <%= f.hidden_field :id, value: @office_training_agreement.id %>

    <div class="top-section col-xs-12 form-group">
      <span style="float:left" class="hide">
        <h2 class="violet"><%= t 'office_training_agreements.new.title' %></h2>
      </span>

      <span class="pull-right preview-btn-group hidden-xs">
      <% if @office_training_agreement.persisted? %>
        <button class="btn yellow-btn btn-short btn-no-margin-top reset-form" type="reset">Saisir une nouvelle convention</button>
      <% end %>
        <button class="btn two-line-btn" style="background: #d3102a;
            color: #FFF;
            padding:10px 20px 10px 20px;
            font-family : Roboto;
            font-size: 15px;
            text-transform : uppercase;
            font-weight: 500;
            min-width:136px;"><%= t 'office_training_agreements.new.preview' %></button>
      </span>
    </div>

    <div class="row col-xs-12">
      <div class="col-md-4">

        <div class="well">
          <h3><%= t 'office_training_agreements.new.billing_point' %></h3>
          <br/>

          <div class="form-group">
            <%= f.label :select_billing_point, t('office_training_agreements.new.select_billing_point'),
                        class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :establishment_id,
                         current_consultant.active_billing_points_options,
                         {include_blank: 'Nouveau Client'},
                         {class: 'chosen-select billings form-control', 'data-placeholder': 'Choisir une option'}
              %>

            </div>
          </div>

          <h4><%= t 'commercial_contracts.new.admin_infos' %></h4>

          <div class="form-group">
            <div class="col-sm-5 text-right">
              <%= f.label :establishment_siret, t('billing_points.siret'), class: 'control-label' %>
              <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="modal" data-target="#modal2"></i>
            </div>
            <div class="col-sm-7">
              <%= f.text_field :establishment_siret, class: 'form-control', readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-5 text-right">
              <%= f.label :establishment_vat_number, t('billing_points.vat_number'), class: 'control-label' %>
              <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="modal" data-target="#modal1"></i>
            </div>
            <div class="col-sm-7">
              <%= f.text_field :establishment_vat_number, class: 'form-control', readonly: true %>
            </div>
          </div>

          <% if current_consultant.itg_establishment.itg_company.need_construction_insurance? %>
            <div class="form-group">
              <%= f.label :builders_risk_insurance, t('commercial_contracts.builders_risk_insurance'),
                          class: 'control-label col-sm-5 required' %>
              <div class="col-sm-7">
                <%=
                  f.select :construction_insurance_rate_id,
                           builders_risk_insurances_options,
                           {include_blank: true},
                           {class: 'form-control', validate: true}
                %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :construction_site, t('commercial_contracts.construction_site'),
                          class: 'control-label col-sm-5' %>
              <div class="col-sm-7">
                <%= f.text_field :construction_site, class: 'form-control', readonly: true %>
              </div>
            </div>
          <% end %>

          <h4><%= t 'commercial_contracts.new.commercial_infos' %></h4>

          <div class="form-group">
            <div class="col-sm-7">
              <button class="btn yellow-btn btn-short btn-no-margin-top" id="search_by_siret" style="display: none;">Rechercher en utilisant le SIRET</button>
              <button class="btn yellow-btn btn-short btn-no-margin-top" id="search_by_name" style="display: none;">Rechercher en utilisant le nom</button>
            </div>
          </div>

          <div class="form-group" id="establishments_block" style="display: none;">
            <label class="control-label col-sm-5">Entreprises</label>
            <div class="col-sm-7">
              <select name="establishments" id="establishments" class="form-control">
              </select>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_name, t('billing_points.name'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :establishment_name, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_country, t('billing_points.country'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :establishment_country_id,
                         countries_options,
                         {},
                         {class: 'selected-country1 form-control', readonly: true}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_address_1, t('billing_points.address_line1'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :establishment_address_1, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_address_2, t('billing_points.address_line2'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :establishment_address_2, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_address_3, t('billing_points.address_line3'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :establishment_address_3, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_zip_code, t('billing_points.zip_code'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <div class="in-france1">
                <%= f.select :establishment_zip_code,
                             f.object.establishment_zip_code_id ? [[f.object.establishment_zip_code, f.object.establishment_zip_code_id, {'data-city_name': f.object.establishment_city, 'data-zip_code_id': f.object.establishment_zip_code_id, selected: true}]] : [],
                             {},
                             class: 'form-control zip-code-select2 zipcode1',
                             maxlength: 5,
                             validate: true,
                             readonly: true,
                             data: {'selected-id': f.object.establishment_zip_code,
                                    'selected-text': set_default_field_zipcode_select2(f.object.establishment_zip_code, f.object.establishment_city),
                                    city_name: f.object.establishment_city
                             }
                %>
              </div>
              <div class="other-country1">
                <%= f.text_field :establishment_zip_code,
                                 class: 'form-control', maxlength: 5,
                                 validate: false, readonly: true %>
              </div>
              <%= f.hidden_field :establishment_zip_code_id, class: 'zipcode_id1' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_city, t('billing_points.city'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :establishment_city, class: 'form-control city-from-zipcode1', maxlength: 35, validate: true, readonly: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :establishment_phone, t('billing_points.tel_number'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.telephone_field :establishment_phone, maxlength: 15, class: 'form-control', readonly: true %>
            </div>
          </div>

          <h4><%= t 'commercial_contracts.new.contact_infos' %></h4>

          <div class="form-group">
            <%= f.label :represented_by, t('billing_points.represented_by'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :establishment_contact_id,
                         (@office_training_agreement.establishment_id ? establishment_contacts(@office_training_agreement.establishment, @office_training_agreement.establishment_contact_id) : []),
                         {include_blank: 'Nouveau'},
                         {class: 'establishment_contact form-control establishment_contact_id', 'data-placeholder': 'Choisir une option'}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_last_name, t('contact.last_name'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_last_name, maxlength: 35, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_first_name, t('contact.first_name'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_first_name, maxlength: 35, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_contact_type, t('contact.contact_type'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :contact_contact_type_id,
                         contact_types_options,
                         {},
                         {class: 'form-control'}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_contact_role, t('contact.contact_role'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :contact_contact_role_id,
                         contact_roles_options,
                         {},
                         {class: 'form-control'}
              %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-1" style="padding-top: 7px;">
              <%= f.check_box :copy_contact_address_from_establishment %>
            </div>
            <%= f.label :copy_contact_address_from_establishment,
                        t('contact.copy_contact_address_from_establishment'),
                        class: 'control-label col-sm-9',
                        style: 'text-aligh: left;' %>
          </div>

          <div class="form-group">
            <%= f.label :contact_country, t('contact.country'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :contact_country_id,
                         countries_options,
                         {},
                         {class: 'selected-country2 form-control'}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_address_1, t('contact.address'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_address_1, maxlength: 35, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_address_2, t('contact.address2'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_address_2, maxlength: 35, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_address_3, t('contact.address3'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_address_3, maxlength: 35, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_zip_code, t('contact.zip_code'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <div class="in-france2">
                <%= f.select :contact_zip_code,
                             f.object.contact_zip_code_id ? [[f.object.contact_zip_code, f.object.contact_zip_code_id, {'data-city_name': f.object.contact_city, 'data-zip_code_id': f.object.contact_zip_code_id, selected: true}]] : [],
                             {},
                             class: 'form-control zip-code-select2 zipcode2',
                             maxlength: 5,
                             validate: true,
                             readonly: true,
                             data: {'selected-id': f.object.contact_zip_code,
                                    'selected-text': set_default_field_zipcode_select2(f.object.contact_zip_code, f.object.contact_city),
                                    zipcode_id: f.object.contact_zip_code_id,
                                    city_name: f.object.contact_city
                             }
                %>
              </div>
              <div class="other-country2">
                <%= f.text_field :contact_zip_code, maxlength: 5, class: 'form-control' %>
              </div>
              <%= f.hidden_field :contact_zip_code_id, class: 'zipcode_id2' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_city, t('contact.city'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_city, maxlength: 35, class: 'form-control city-from-zipcode2' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_phone, t('contact.phone'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.telephone_field :contact_phone, maxlength: 15, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contact_email, t('contact.email'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contact_email, maxlength: 255, class: 'form-control' %>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-8">
        <div class="well">
          <h3><%= t 'office_training_agreements.new.prestations' %></h3>
          <br/>

          <%= t 'office_training_agreements.new.prestation_label', company_name: current_consultant.itg_establishment&.name || 'ITG' %> :
          <br/>

          <div>
            <%= f.label :competences, t('commercial_contracts.skills') %>
            <%= f.text_area :competences, class: 'form-control', maxlength: 300 %>
          </div>

          <br/>

          <div class="form-group">
            <%= f.label :mission_subject, t('office_training_agreements.training_name'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :mission_subject, maxlength: 300, class: 'form-control', validate: true %>
            </div>
          </div>

          <%= f.fields_for :office_training_agreement, f.object.office_training_agreement || f.object.build_office_training_agreement,
                    wrapper: false do |training_agreement| %>
          <div class="form-group">
            <%= training_agreement.label :training_purpose, t('office_training_agreements.training_purpose'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= training_agreement.text_field :training_purpose, maxlength: 300, class: 'form-control', validate: true %>
            </div>
          </div>

          <div class="form-group">
            <%= training_agreement.label :training_location, t('office_training_agreements.training_location'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= training_agreement.text_field :training_location, maxlength: 300, class: 'form-control', validate: true %>
            </div>
          </div>

          <div class="form-group">
            <%= training_agreement.label :training_location_booking, t('office_training_agreements.training_location_booking'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= training_agreement.text_field :training_location_booking, maxlength: 300, class: 'form-control', validate: true %>
            </div>
          </div>

          <div class="form-group">
            <%= training_agreement.label :trainees, t('office_training_agreements.trainees'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= training_agreement.text_field :trainees, maxlength: 300, class: 'form-control', validate: true %>
            </div>
          </div>

          <div class="form-group">
            <%= training_agreement.label :training_target_id, t('office_training_agreements.training_target'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                training_agreement.select :training_target_id,
                         training_target_options,
                         {include_blank: 'Sélectionner'},
                         {class: 'form-control', validate: true}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= training_agreement.label :training_domain_id, t('office_training_agreements.training_domain'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                training_agreement.select :training_domain_id,
                         training_domains_options,
                         {include_blank: 'Sélectionner'},
                         {class: 'form-control', validate: true}
              %>
            </div>
          </div>
        <% end %>
          <br/>

          <% if @office_training_agreement.office_business_contracts_documents.any? %>
              <% @office_training_agreement.office_business_contracts_documents.each do |annexe| %>
                  <div id="office_training_agreement_file_upload_<%= annexe.id %>" data-id="<%= annexe.id %>" class="office_training_agreement_uploaded_annex">
                    <a class="remove_office_training_agreement_uploaded_annex pull-right" href="#remove_office_training_agreement_uploaded_annex"><%= fa_icon('minus-circle') %></a>
                    <label><%= annexe.filename %></label>
                  </div>
              <% end %>
          <% end %>

          <div id="office_training_agreement_file_upload_blueprint" class="office_training_agreement_file_upload" style="display: none">
            <a class="remove_office_training_agreement_file_upload pull-right" href="#remove_office_training_agreement_file_upload"><%= fa_icon('minus-circle') %></a>
            <label class="control-label">Télécharger un fichier</label>
            <input type="file" name="attachments[]" class="form-control" disabled="disabled">
            <p class="help-block">Si nécessaire joindre en annexe la description détaillée ou le cahier des charges
              Taille maximum 10Mb</p>
          </div>

          <a id="add_office_training_agreement_file_upload" href="#add_office_training_agreement_file_upload"><%= fa_icon('plus-circle', text: 'Ajouter un fichier') %></a>

        </div>
      </div>

      <div class="col-md-8">
        <div class="well">
          <h3><%= t 'office_training_agreements.new.modalities' %></h3>
          <br/>

          <div class="form-group">
            <%= f.label :begining_date, t('office_training_agreements.begin_from'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :begining_date, class: 'datepicker form-control', id: 'start_date', validate: true,
                               data: { ending_date_target: '#end_date', endind_date_year_period: 3 },
                               value: (set_datetime_format((params[:office_training_agreement_request].try[:begining_date] rescue nil) || @office_training_agreement.begining_date)) %>
            </div>

          </div>

          <div class="form-group">
            <%= f.label :ending_date, t('office_training_agreements.end_at'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :ending_date, class: 'datepicker form-control', id: 'end_date', validate: true,
                               value: (set_datetime_format((params[:office_training_agreement_request][:ending_date] rescue nil) || @office_training_agreement.ending_date)) %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :billing_mode, t('commercial_contracts.type_de_facturation'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.select :billing_mode,
                           Goxygene::OfficeBusinessContract.billing_mode.options, \
                           {},
                           {class: 'form-control', id: 'billing_mode_select', validate: true} %>
            </div>
          </div>

          <%= render partial: 'billing_mode_fields', locals: { f: f } %>

          <div class="form-group">
            <%= f.label :notice_period, t('office_training_agreements.training_days_before_deadline'), class: 'control-label col-sm-5 custom-require-label' %>
            <div class="col-sm-7">
              <%= f.text_field :notice_period, class: 'number-field form-control', validate: true %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :vat_id, t('office_training_agreements.taxrate'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%=
                f.select :vat_id,
                         vat_rates_options,
                         {},
                         {class: 'form-control', validate: true}
              %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :expenses_comment, t('office_training_agreements.customer_supported_expenses'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :expenses_comment, class: 'form-control',
                               maxlength: 53 %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :advance_payment, t('office_training_agreements.advance_payment'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <% # change to textfield because number field will break the validation %>
              <%= f.text_field :advance_payment, class: 'number-field form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :payment_comment, t('office_training_agreements.further_informations'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :payment_comment, class: 'form-control',
                               maxlength: 59 %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :expenses_payback_comment, t('office_training_agreements.provision_on_expenses'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :expenses_payback_comment, class: 'form-control',
                               maxlength: 53 %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :contract_handling_comment, t('office_training_agreements.comment'), class: 'control-label col-sm-5' %>
            <div class="col-sm-7">
              <%= f.text_field :contract_handling_comment, class: 'form-control',
                               maxlength: 53 %>
            </div>
          </div>

          <div class="hidden-xs"><%= link_to t('office_training_agreements.new.see_conditions'), term_and_conditions_commercial_contracts_path, target: '_blank' %></div>
          <div class="visible-xs">
            <%= link_to t('commercial_contracts.new.see_conditions'),
                        '#',
                        'aria-hidden' => 'true',
                        'data-toggle' => 'modal',
                        'data-target' => '#modal3' %>
          </div>

        </div>
      </div>

    </div>

    <div class="row col-xs-12">
      <div class="col-md-4"></div>
      <div class="col-md-8 p-b-60">
        <div class="well">
          <h3><%= t 'office_training_agreements.new.expenses' %></h3>
          <br/>
          <%= render partial: 'expenses_fields', locals: { f: f } %>
        </div>
      </div>
    </div>

    <div class="row col-xs-12 visible-xs">
      <div class="col-sm-1"></div>
      <div class="col-sm-8">
        <span class="pull-right preview-btn-group">
        <% if @office_training_agreement.persisted? %>
          <button class="btn yellow-btn btn-short btn-no-margin-top reset-form" type="reset">Saisir une nouvelle convention</button>
        <% end %>
          <button class="btn two-line-btn" style="background: #d3102a;
              color: #FFF;
              padding:10px 20px 10px 20px;
              font-family : Roboto;
              font-size: 15px;
              text-transform : uppercase;
              font-weight: 500;
              min-width:136px;"><%= t 'office_training_agreements.new.preview' %></button>
        </span>
      </div>
      <div class="col-sm-1"></div>
    </div>

<% end %>


<div class="modal fade mission-expense" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="text-grey2">
          Le numéro de TVA intracommunautaire est
          constitué du code FR (pour la France), d’une
          clé informatique de 2 chiffres et du numéro
          SIREN de l’entreprise (9 chiffres).
          <br /><br />
          Attention : Les entreprises situées dans les
          DOM n’ont pas de n° de TVA
          intracommunautaire. En cas de doute, vous
          pouvez vérifier la validité de ce numéro sur :
          <span class="text-yellow">europa.eu.int</span>
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade mission-expense" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center text-grey2">
          Numéro à 14 chiffres identifiant l’entreprise
          cliente au registre du commerce.
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade mission-expense" id="modal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center text-grey2">
          <h2 class="violet text-upcase m-b-20">conditions juridiques</h2>

          <div id="texte" class="well texte m-b-50"><p><strong>1. Consultant.</strong><br />La prestation définie ci-dessus sera effectuée par le consultant de l'EPS désigné à cet effet par l'EPS et agréé par le client suivant les conditions prévues aux présentes. <br />Le consultant s'engage à mettre en œuvre tout son savoir-faire pour réaliser l’intervention qui lui est confiée. <br />Il s'engage notamment à solliciter du client toutes les informations nécessaires à l'accomplissement de son intervention. <br />Il s'engage, en outre, à informer le client de toutes les contraintes liées à sa mission. Cela étant dit, l'EPS et le consultant désigné pour la présente mission réaliseront cette dernière librement. <br />En aucun cas, l'EPS ou le consultant ne sont, de quelque manière que ce soit, assujettis au client par un quelconque lien de subordination. Pour la réalisation et la durée de la mission, le client aura pour unique co-contractant la société ci-dessus désignée. En cas de difficulté ou de retard constatés dans l'accomplissement de la mission, le client devra en informer sans délai l'EPS.</p><p><strong>2. Lieu de l'intervention.</strong><br />Pour la réalisation de sa mission, le consultant pourra être amené soit à travailler à son domicile, soit à se rendre chez le client, chez l'EPS, ou chez des tiers.</p><p><strong>3. Honoraires, frais de transport et d'hébergement.</strong><br />Le client reconnaît être informé que les honoraires et frais dus en exécution de la prestation réalisée par le consultant seront facturés par l'EPS et s'engage donc à verser à l'EPS les dits montants, tels qu'indiqués ci-dessus.</p><p><strong>4. Traitement des données personnelles (RGPD) et confidentialité des données clients.</strong><br />L'EPS et le client se garantissent mutuellement que les données personnelles transmises à chacune desdites parties ont été collectées et traitées dans le respect de la règlementation en vigueur applicable à la protection des données personnelles. Chaque Partie garantit à l’autre Partie une stricte confidentialité à l’égard des données, y compris des données personnelles, dont elle aura eu connaissance. Dans le cadre de sa mission, le consultant pourra notamment avoir accès à des données personnelles traitées par le client ou à des données professionnelles strictement confidentielles. L'EPS n’a jamais accès à ces données personnelles ou professionnelles. Le consultant est également tenu au strict respect de la confidentialité des données professionnelles et à la protection des données personnelles auxquelles il pourrait avoir accès dans le cadre de son activité auprès du client (détail des engagements des parties accessible à l’adresse suivante : <a class="external" href="https://www.itg.fr/upload/Document/protection-dp-itg.pdf">https://www.itg.fr/upload/Document/protection-dp-itg.pdf</a>&nbsp;- Politique de données personnelles d’ITG .</p><p><strong>5. Propriété des études.</strong><br />Il est expressément stipulé que l'EPS ne pourra utiliser les résultats de la mission à d'autres fins que celles décidées par le client.</p><p><strong>6. Responsabilité et obligation de moyens.</strong><br />L'EPS serait dégagée de toute responsabilité dans le cas où le client ne fournirait pas au consultant l'ensemble des informations nécessaires à l'exécution de sa mission. Le contrat n'institue aucun lien de subordination, ne confère aucun mandat, ni ne crée aucune société commune ou association en participation entre l'EPS et le client. L'EPS ne sera en aucun cas impliqué dans la gestion des affaires du client.</p><p><strong>7. Responsabilité de l'entreprise cliente relatives aux conditions d'exécution de la mission.</strong><br />Le client s'engage à prendre toute mesure nécessaire pour préserver la santé et la sécurité du consultant. Il devra veiller à la stricte observation de toute prescription relative à la réglementation du travail, notamment en matière d'hygiène et sécurité. Le consultant sera tenu de respecter les règles d'hygiène et de sécurité en vigueur sur le lieu d'exécution de la prestation, et de porter les équipements de protection fournis par le client (tels que définis en annexe). Le client s'engage à informer le consultant des précautions générales et particulières à prendre afin qu'il assure sa propre sécurité et celle des autres personnes présentes sur le lieu de réalisation de la prestation.</p><p><strong>8. Intégralité du contrat.</strong><br />Le présent contrat et ses annexes expriment l'intégralité des obligations des parties, annulent et remplacent tout accord, correspondance ou écrit antérieurs.</p><strong>9. Résiliation.</strong><br />Le présent contrat pourra être résilié par lettre recommandée avec accusé de réception par l'une ou l'autre des parties dans les conditions suivantes :<ul><li>Avant le début de l'exécution de la mission en respectant un préavis du nombre de semaines indiqué ci-dessus.</li><li>Durant l'exécution de la mission en respectant un préavis d'une durée double de celle indiquée ci-dessus.</li></ul><p>En cas de résiliation, l'EPS prendra les dispositions nécessaires à la facturation des travaux déjà réalisés et/ou des dépenses engagées en vue de la réalisation de l'intervention.</p><p><strong>10. droit applicable et litiges éventuels.</strong><br />Le droit applicable au présent contrat est le droit français. Tout différend découlant du présent contrat sera soumis, à défaut d'accord amiable, aux tribunaux compétents du siège social de l'EPS.</p></div>
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade office_training_agreement" id="siret_existing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center">
          <h5>Message de vérification de société de rattachement</h5>
        </div>
        <p>
          <br/>
          Le SIRET <span class="siret"></span> que vous avez saisi correspond à la société <span class="name"></span>.
          <br/>
          <br/>
        </p>
        <div class="align-center">
          Confirmez-vous ce SIRET ?
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-red siret-no" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-red siret-yes">Valider ce SIRET</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render 'bureau_consultant/shared/modal_video_tutorial',
           modal_id: 'video-part-1',
           modal_title: 'Contrats Commerciaux part2',
           video_url: '//www.youtube.com/embed/b3JG2HtXnWU',
           video_id: 'b3JG2HtXnWU' %>
