<tr>
  <td>
    <div class="line clearfix">
        <input type="checkbox" value="<%= contract_request.id %>" name="q[id_in][]" class="ids"/>
      </div>
    </div>
  </td>

  <td><%= contract_request.establishment_name %></td>
  <td><%= contract_request.business_contract_status_text %></td>
  <td><%= set_datetime_format(contract_request.begining_date) %></td>
  <td><%= set_datetime_format(contract_request.ending_date) %></td>
  <td><%= contract_request.amount_without_vat %></td>
  <td><%= set_datetime_format(contract_request.created_at) %></td>
  <td>
    <%= link_to fa_icon('file-pdf-o'), office_training_agreement_path(contract_request.id, format: :pdf), target: :_blank %>
  </td>

</tr>
