<div class="data-row m-b-0 padding-15">
  <div>
    <span>Référence</span> :
    <%= signed_contract.id %>
  </div>
  <div>
    <span>Commande</span> :
    <%= signed_contract.customer_contract_reference %>
  </div>
  <div>
    <span>Client</span> :
    <%= signed_contract.establishment.name %>
  </div>

  <div class="m-t-10">
    <span>Début</span> :
    <%= set_datetime_format(signed_contract.begining_date) %>
  </div>
  <div>
    <span>Fin</span> :
    <%= set_datetime_format(signed_contract.ending_date) %>
  </div>

  <div class="m-t-10">
    <span>Total HT</span> :
    <%= signed_contract.amount_without_vat %>
  </div>
  <div>
    <span>Total TTC</span> :
    <%= signed_contract.amount_with_vat %>
  </div>

  <div class="m-t-10">
    <span>Validé le</span> :
    <%= set_datetime_format(signed_contract.contract_back_on) %>
  </div>

  <% if signed_contract.last_signed_document.present? && signed_contract.last_signed_document&.filename&.file.exists? %>
    <div class="file-download">
      <%= link_to office_training_agreement_signed_path(signed_contract.id), target: :_blank do %>
      <div class="btn btn-orange btn-no-rounded">
        PDF
      </div>
      <% end %>
    </div>
  <% end %>
</div>
