<% video_part ||= '#video-da-part-1' %>

<ul id="progressbar" class="progressbar">
  <li class="<%= add_active_step_class(1, step) %>">
    Saisie d'activité

    <div class="m-t-10">
      <%= raw(add_tooltip_modal(1, step, '#video-da-part-1')) %>
    </div>
  </li>

  <li class="<%= "#{add_active_step_class(2, step)} #{add_future_step(2, step)}" %>">
    Synthèse

    <div class="m-t-10">
      <%= raw(add_tooltip_modal(2, step, '#video-da-part-5')) %>
    </div>
  </li>
</ul>


<%= render 'modal_video_tutorial_xs' %>