  <% video_part ||= '#video-da-part-1' %>

<div class="tunnel-container m-t-40 m-b-20">
  <ol class="tunnel">
    <li <%= add_current_step_class(1, step) %>>
      <div class="border">
        <div class="step-text <%= add_text_bold(1, step) %>">
          Saisie d’activités
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <%= raw(add_tooltip_modal(1, step, '#video-da-part-1')) %>
            </div>
          <% end%>
        </div>
      </div>
    </li>

    <li <%= add_current_step_class(2, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(2, step) %>">
          <%= t('declaration_activities.steps.synthesis') %>
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <% if video_part == 5 %>
                <%= raw(add_tooltip_modal(2, step, '#video-da-part-5')) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
</div>

<%= render 'modal_video_tutorial' %>
