<ul id="progressbar" class="progressbar <%= current_consultant.has_luncheon_vouchers ? 'step_4_node' : 'step_3_node' %> padding-0">
  <li class="<%= add_active_step_class(1, step) %>">Saisie d'activité</li>

  <% if current_consultant.has_luncheon_vouchers? %>
    <li class="<%= add_active_step_class(1.5, step) %>"><%= t('declaration_activities.steps.luncheon_voucher_request') %></li>
  <% end %>

  <li class="<%= "#{add_active_step_class(2, step)} #{add_future_step(2, step)}" %>">Frais de <br/>mission</li>
  <li class="<%= "#{add_active_step_class(3, step)} #{add_future_step(3, step)}" %>">Synthèse</li>
</ul>
