<% video_part ||= '#video-da-part-1-xs' %>

<ul id="progressbar" class="progressbar <%= current_consultant.has_luncheon_vouchers ? 'step_4_node' : 'step_3_node' %>">
  <li class="<%= add_active_step_class(1, step) %>">
    Saisie d'activité
    <% if Goxygene.is_freeland? %>
      <div class="m-t-10">
        <% if video_part == 1 %>
          <%= raw(add_tooltip_modal(1, step, '#video-da-part-1-xs')) %>
        <% elsif video_part == 2 %>
          <%= raw(add_tooltip_modal(1, step, '#video-da-part-2-xs')) %>
        <% end %>
      </div>
    <% end %>
  </li>

  <% if current_consultant.has_luncheon_vouchers? %>
    <li class="<%= add_active_step_class(1.5, step) %>">
      <%= t('declaration_activities.steps.luncheon_voucher_request') %>
    </li>
  <% end %>

  <li class="<%= "#{add_active_step_class(2, step)} #{add_future_step(2, step)}" %>">
    Frais de <br/>mission
    <% if Goxygene.is_freeland? %>
      <div class="m-t-10">
        <% if video_part == 3 %>
          <%= raw(add_tooltip_modal(2, step, '#video-da-part-3-xs')) %>
        <% elsif video_part == 4 %>
          <%= raw(add_tooltip_modal(2, step, '#video-da-part-4-xs')) %>
        <% end %>
      </div>
    <% end %>
  </li>

  <li class="<%= "#{add_active_step_class(3, step)} #{add_future_step(3, step)}" %>">
    Synthèse
    <% if Goxygene.is_freeland? %>
      <div class="m-t-10">
        <%= raw(add_tooltip_modal(3, step, '#video-da-part-5-xs')) %>
      </div>
    <% end %>
  </li>
</ul>

<%= render 'modal_video_tutorial_xs' %>
