<td class="td-first-element">
  <% unless an_activity.rejected? %>
    <%= link_to manage_mission_expense_statement_of_activities_path(activity_id: an_activity.id, expense_id: expense.id) do %>
      <i class='fa fa-pencil text-white bg-violet small-icon-set clickable icon-centering' aria-hidden='true'
         data-toggle="popover"
         data-html="true"
         data-trigger="hover"
         data-container="body"
         data-placement="auto top"
         data-content="Modifier">
      </i>
    <% end %>

    <%= link_to destroy_expense_statement_of_activities_path(activity_id: an_activity.id, expense_id: expense.id), method: :delete, data: {confirm: 'Etes-vous sûr ?'} do %>
      <i class='fa fa-trash text-white bg-red small-icon-set clickable icon-centering' aria-hidden='true'
         data-toggle="popover"
         data-html="true"
         data-trigger="hover"
         data-container="body"
         data-placement="auto top"
         data-content="Supprimer">
      </i>
    <% end %>
  <% end %>
</td>

<td><span class="expense_item_number"><%= expense.proof_of_expense_number %></span>. <%= expense.expense_type.try :label %></td>
<td>
                      <span <%= tab_label_popover(expense.label.to_s, chars: 13) %>>
                        <%= expense.label.to_s.truncate(13) %>
                      </span>
</td>
<td><%= "#{expense.total} €" if expense.total %></td>
<td><%= "#{expense.vat} €"   if expense.vat %></td>
<td><%= expense.kilometers   if expense.kilometers %></td>
