<script>
  var current_month         = <%= raw current_month.iso8601.to_json %>
  var selectable_days       = <%= raw selectable_days.to_json %>
  var days_with_activity    = <%= raw days_with_activity.to_json %>

  var current_month_name    = '<%= I18n.t("date.month_names")[current_month.to_date.strftime('%m').to_i].capitalize %>'
  var current_year          = '<%= current_month.to_date.strftime('%Y') %>'

  if($('.month-year').length) {
      $('.month-year').html(current_month_name + ' ' + current_year);
  }
</script>

<div id="calendar-view" class="mock"></div>

<div>
  <span class="m-r-20"><i class="fa fa-square text-orange btn-no-rounded"></i> Mission</span>
  <span class="m-r-20"><i class="fa fa-square text-violet btn-no-rounded"></i> Développement</span>
  <% if statement_of_activities_request&.can_have_unemployment_activities? %>
    <span class=""><i class="fa fa-square text-orange2 btn-no-rounded"></i> Chômage partiel</span>
  <% end %>
</div>
