<td class="td-first-element">
  <%= link_to destroy_expense_statement_of_activities_path(activity_id: an_activity.id, expense_id: expense.id), method: :delete, data: {confirm: 'Etes-vous sûr ?'} do %>
    <i class='fa fa-trash text-white bg-red small-icon-set clickable icon-centering' aria-hidden='true'
       data-toggle="popover"
       data-html="true"
       data-trigger="hover"
       data-container="body"
       data-placement="auto top"
       data-content="Supprimer">
    </i>
  <% end %>
</td>

<td><%= form.select :expense_type_id,
                 options_for_select(current_consultant.allowed_expense_types.for_activities.collect {|expense_type|
                   [
                       expense_type.label,
                       expense_type.id,
                       {
                           'data-is-distance' => expense_type.is_kilometers,
                           'data-has-vat' => expense_type.has_vat,
                       }

                   ]
                 }.rotate(1),
                                    selected: @mission_expense.expense_type_id),
                 {},
                 class: 'type-activite-select custom-dropdown-icon select-box-no-rounded field-taller select-expense-type'
%></td>

<td>
  <%= form.text_field :label,
                   class: 'input-no-rounded form-control field-taller expense-label input-thinner',
                   maxlength: 90,
                   placeholder: 'Libellé' %>
</td>

<td class="statement_of_activities_line_amount_field">
  <%= form.text_field :total,
                      class: 'number-field input-no-rounded form-control field-taller',
                      placeholder: 'TTC' %>
</td>

<td class="vat-container">
  <%= form.text_field :vat,
                      class: 'number-field input-no-rounded form-control field-taller',
                      placeholder: 'TVA' %>
</td>

<td class="statement_of_activities_line_distance_field">
  <%= form.text_field :kilometers,
                      class: 'number-field input-no-rounded form-control field-taller',
                      placeholder: 'kilomètres' %>
</td>

<td>
  <%= link_to '#', :onclick => "$(this).closest('form').submit(); return false;" do %>
    <i class="fa fa-check btn-icon-form bg-orange text-white submit-icon"></i>
  <% end %>

  <%= link_to manage_mission_statement_of_activities_path do %>
    <i class="fa fa-times btn-icon-form bg-red text-white submit-icon"></i>
  <% end %>
</td>
