<% if statement_of_activities_request.activities_in_edition? %>

<div class="m-t-60 text-center row bg-white">
  <div class="p-t-15 p-b-15 ">Rajouter un jour d'activité</div>
</div>

<script>
    var current_month = <%= raw current_month.iso8601.to_json %>
    var end_of_month = <%= raw current_month.end_of_month.iso8601.to_json %>
    var month = <%= current_month.month.to_json %>
    var selectable_days = <%= raw selectable_days.to_json %>
    var days_with_activity = <%= raw days_with_activity.to_json %>
</script>

<div class="m-t-10 row bg-white" id="new-activity-on-manage-mission text-center">
  <%= form_for @line, url: update_activity_day_on_manage_mission_statement_of_activities_path, validate: false do |f| %>
    <div class="row">
      <div class="form-error">
        <%= render partial: 'form_error', locals: { object: @line } %>
      </div>

      <% if @line.warnings.any? %>
        <div class="col-xs-12 m-t-15 padding-left-right-x2">
          <div id="error_explanation" class="alert alert-warning">
            <ul>
              <% @line.warnings.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

    <div class="m-t-20 add-line-statement-of-activities-wrap">
      <div class="add-line-statement-of-activities">
        <div class="row not-show-error-pls">
          <div class="col-xs-2">
            <%= f.text_field :date, class: 'datepicker-special form-control field-taller input-no-rounded',
                             placeholder: "Date d'activite", validate: false %>
          </div>

          <div class="col-xs-2 select-horizontal">
            <%= f.select :activity_type_id,
                         activity_type_options(@line),
                         {},
                         class: 'type-activite-select custom-dropdown-icon select-box-no-rounded field-taller',
                         validate: false %>
          </div>

          <div class="col-xs-4">
            <%= f.text_field :label, class: 'input-no-rounded form-control field-taller',
                             placeholder: 'Libellé',
                             maxlength: '90',
                             validate: false
            %>
          </div>

          <div class="col-xs-2 select-horizontal">
            <%= f.select :time_span,
                         options_for_select(['Temps travaillé', '0.25', '0.5', '0.75', '1.0'],
                                            selected: 'Temps travaillé',
                                            disabled: 'Temps travaillé'),
                         {},
                         class: 'custom-dropdown-icon select-box-no-rounded field-taller form-control',
                         validate: false %>
          </div>

          <div class="col-xs-2">
            <%= link_to '#', :onclick => "$(this).closest('form').submit(); return false;" do %>
              <i class="fa fa-check btn-icon-form bg-orange text-white submit-icon vertical-center"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
    $(document).ready(function () {

        if($('div[id="error_explanation"]').length) {
                $('html, body').animate({
                    scrollTop: $("#new_statement_of_activities_request_line").offset().top
                });

        }
    });
</script>

<% end %>
