<% video_part ||= '#video-da-part-1' %>

<div class="tunnel-container m-t-40 text-light-violet">
  <ol class="tunnel">
    <li <%= add_current_step_class(1, step) %>>
      <div class="border">
        <div class="step-text <%= add_text_bold(1, step) %> text-light-violet">
          Saisie d’activités
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <% if video_part == 1 %>
                <%= raw(add_tooltip_modal(1, step, '#video-da-part-1')) %>
              <% elsif video_part == 2 %>
                <%= raw(add_tooltip_modal(1, step, '#video-da-part-2')) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>

    <% if current_consultant.has_luncheon_vouchers? %>
    <li <%= add_current_step_class(1.5, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(1.5, step) %> text-light-violet">
          <%= t('declaration_activities.steps.luncheon_voucher_request') %>
        </div>
      </div>
    </li>
    <% end %>

    <li <%= add_current_step_class(2, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(2, step) %> step2-text">
          <%= t('declaration_activities.steps.mission_expenses') %>
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <% if video_part == 3 %>
                <%= raw(add_tooltip_modal(2, step, '#video-da-part-3')) %>
              <% elsif video_part == 4 %>
                <%= raw(add_tooltip_modal(2, step, '#video-da-part-4')) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
    <li <%= add_current_step_class(3, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(3, step) %>">
          <%= t('declaration_activities.steps.synthesis') %>
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <%= raw(add_tooltip_modal(3, step, '#video-da-part-5')) %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
</div>

<%= render 'modal_video_tutorial' %>
