<div class="bg-white padding-left-right p-t-30 p-b-30">
  <div class="text-bold">Quel salaire brut souhaitez-vous vous verser ? </div>

  <script>
    var max_expenses     = <%= raw current_consultant.cumuls.estimate_max_expenses.to_json %>
    var gross_salary     = <%= raw statement_of_activities_request.standard_gross_wage.to_json %>
    var salr_brut        = <%= raw current_consultant.salary_cost.to_json %>
    var granted_expenses = <%= raw current_consultant.granted_expenses.to_json %>
  </script>

  <%= form_for statement_of_activities_request,
               url: "/bureau_consultant/statement_of_activities/#{statement_of_activities_request.id}",
               validate: true do |f| %>
    <%= f.text_field :gross_wage,
                     value: statement_of_activities_request.standard_gross_wage,
                     class: 'number-field form-control input-no-rounded right-placeholder field-taller m-t-5',
                     placeholder: '€' %>

    <div class="m-t-5 text-grey">Salaire complémentaire : <span id='gross_complementary'></span> €</div>

    <% if current_consultant.allowed_expenses_refund? && !hide_expenses_message %>
      <div class="m-t-10 text-red align-center">
        Compte tenu du salaire souhaité vous<br/>
        pourrez demander un remboursement de<br/>
        frais pour un montant maximum de <span id='max_expenses_reimbursement' class="text-bold"><%= statement_of_activities_request.formated_max_expenses %></span> €
      </div>
    <% end %>

    <div class="m-t-10 text-orange text-bold">+ Ajouter un commentaire</div>
    <%= f.text_area :consultant_comment, rows: 5, class: 'full_textarea m-t-5 form-control input-no-rounded' %>

    <% if statement_of_activities_request.has_unemployment_activities? %>
      <div class="m-t-10 text-orange text-bold">+ Ajouter un justificatif</div>
      <%= f.file_field :attachment, class: 'form-control' %>
    <% end %>
  <% end %>
</div>
