<div class="top-panel row">
  <div class="col-xs-12 no-p m-t-20">
    <div class="panel info-panel frais_header" style="padding: 0px">
      <table class="table">
        <tbody>
        <tr>
          <td class="no-wrap top-summary-padding">
            <div class="label-top text-violet">Coût Km (€)</div>
            <div class="value c3ValueSalaireConventionel"><%= statement_of_activities_request.formated_kilometer_cost %></div>
          </td>
          <td class="no-wrap top-summary-padding">
            <div class="label-top text-violet">Frais HT (€)</div>
            <div class="value c2ValueHeure"><%= statement_of_activities_request.formated_total_expenses_without_vat %></div>
          </td>
          <td class="no-wrap top-summary-padding">
            <div class="label-top text-violet">Frais TTC (€)</div>
            <div class="value c1ValueJour"><%= statement_of_activities_request.formated_total_expenses_with_vat %></div>
          </td>


          <td class="no-wrap top-summary-padding hide">
            <div class="label-top text-violet">TVA (€)</div>
            <div class="value c3ValueSalaireConventionel"><%= statement_of_activities_request.formated_expenses_vat %></div>
          </td>
          <td class="no-wrap border-left top-summary-padding hide">
            <div class="label-top black-state">Cumul KM</div>
            <div class="value c3ValueSalaireConventionel text-violet">
              <%= statement_of_activities_request.kilometer_count_trace.to_f + statement_of_activities_request.kilometers.to_f %> KM
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
