<div class="row">
  <div class="col-md-2 hidden-sm hidden-xs">
    <%= render 'step', step: 1, video_part: 2 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '3_step_horizontal', step: 1, video_part: 2 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <div class="top-panel row">
      <div class="col-sm-12">
        <div class="panel info-panel" style="padding-bottom: 19px">
          <table class="table">
            <tbody>
            <tr>
              <td class="no-wrap border-right">
                <div class="label-top text-violet">Jours travaillés</div>
                <div class="value c1ValueJour text-center">0</div>
              </td>
              <td class="no-wrap border-right">
                <div class="label-top text-violet">Heures travaillées</div>
                <div class="value c2ValueHeure text-center">0</div>
              </td>
              <td class="no-wrap">
                <div class="label-top text-violet">Salaire conventionnel</div>
                <div class="value c3ValueSalaireConventionel text-center">0 €</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script>
        var current_month         = <%= raw current_month.iso8601.to_json %>
        var selectable_days       = <%= raw selectable_days.to_json %>
        var days_with_activity    = <%= raw days_with_activity.to_json %>
    </script>
    <div class="duplicate-calendar-view">
    </div>

    <div>
      <span class="m-r-20"><i class="fa fa-square text-orange btn-no-rounded"></i> Mission</span>
      <span class=""><i class="fa fa-square text-violet btn-no-rounded"></i> Développement</span>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 set-calendar-tab m-t-20">

    <div class="align-center p-t-100 bg-white" style="min-height: 500px;">
      <%= form_tag duplicate_few_days_statement_of_activities_path %>
      <div class="m-t-10 text-bold">
         Duplication <br/>
         <%= l @current_date, format: :long %><br/>
         <%= @line.activity_type.label %> : <%= @line.label %>

        <div class="m-t-15">
          L'activité a été dupliquée sur <span id="selected-date-count">0</span> jour(s)
        </div>
      </div>

      <%= hidden_field_tag 'duplicated_line[date]',           @current_date %>
      <%= hidden_field_tag 'duplicated_line[line_id]',        @line.id %>
      <%= hidden_field_tag 'duplicated_line[selected_dates]', nil %>
      <%= hidden_field_tag 'office_activity_report_line[activity_type_id]', @line.activity_type.id %>
      <%= hidden_field_tag 'office_activity_report_line[label]',            @line.label %>
      <%= hidden_field_tag 'office_activity_report_line[time_span]',        @line.time_span %>

      <div class="m-t-20 text-violet">
        <div class="col-xs-1">
          <i class="fa fa-long-arrow-left hidden-xs hidden-sm"></i>
        </div>
        <div class="col-xs-10">
          Cliquez sur les autres jours pour lesquels<br/>
          vous souhaitez dupliquer cette activité, puis<br/>
          cliquez sur TERMINER.
        </div>
      </div>

      <button class="btn btn-short btn-no-rounded btn-orange finish">TERMINER</button>
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 add-postal-code-tab bg-white">
    <div class="p-t-10">
      Lieu de mission principal
    </div>
    <div>
      <button class="btn btn-short btn-orange">FRANCE</button>
      <button class="btn btn-short btn-empty-orange">ETRANGER</button>
    </div>

    <div class="m-t-10">
      <span>Code postal * </span>
      <input type="text" class="form-control" />
    </div>

    <div class="p-t-5 align-center">
      <button class="btn btn-short btn-grey m-r-10 btn-no-rounded">PRÉCÉDENT</button>
      <%= link_to 'ÉTAPE SUIVANTE', mission_month_select_statement_of_activities_path,class: 'btn btn-short btn-rouge btn-no-rounded' %>
    </div>
  </div>
</div>

<%= render partial: 'layouts/bureau_consultant/loading_modal' %>
