<div class="row hide">
  <div class="page-top clearfix da">
    <div class="col-sm-7 col-sm-offset-2">
      <div class="list-title m-l-15 text-light-violet text-header text-light-bold">
        <%= t('declaration_activities.title') %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 hidden-sm hidden-xs">
    <%= render 'step', step: 1 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs col-xs-12">
    <%= render '3_step_horizontal', step: 1 %>
  </div>

  <div class="col-sm-12 col-md-8 col-xs-12 m-t-20">
    <div class="panel">
      <%= form_tag statement_of_activities_path, class: 'form no-margintop scrollable da-1', id: 'declaration_form' do %>
        <div class="scrollwp">
          <div class="changejQuery text-bold" data-toggle="modal" data-target="#modalTest">Mois concerné</div>
          <div class="field">
            <%= select_tag('statement_of_activities_request[date]',
                           options_for_select([ [
                                                  l(current_consultant.first_possible_statement_of_activities_request_month, format: '%B %Y').capitalize,
                                                  current_consultant.first_possible_statement_of_activities_request_month.iso8601
                                                ]
                                              ]
                                            )
                           )
            %>
          </div>

          <br>

          <div class="field choice m-b-30 hidden" id="declaration_choices_selection">
            <div class="text-bold">Avez-vous eu une activité (ou du développement) sur le mois sélectionné ?</div>

            <div class="row small-gutter">
              <a class="m-t-10 m-b-0 btn btn-empty-orange btn-narrow btn-no-rounded" href="#" onclick="declarationChoicesSelect(this, '#declaration_choices_yes')">Oui</a>
              <a class="m-l-20 m-t-10 m-b-0 btn btn-empty-orange btn-narrow btn-no-rounded" href="#" onclick="declarationChoicesSelect(this, '#declaration_choices_no')">Non</a>
            </div>
          </div>

          <div class="field choice m-b-5 declaration_choices hidden" id="declaration_choices_yes">
            <div class="row small-gutter flex">
              <div class="col-sm-6 col-xs-12 flex">
                <button class="m-t-10 m-b-0 btn btn-block btn-short btn-rouge btn-wrapable btn-no-rounded">
                  Commencer ma déclaration d'activité
                </button>
              </div>
            </div>
          </div>

          <div class="field choice m-b-5 declaration_choices hidden" id="declaration_choices_no">
            <% if current_consultant.max_salary <= 0 %>
              <div class="row small-gutter flex">
                <div class="col-sm-6 col-xs-12 flex">
                  <%= hidden_field_tag 'statement_of_activities_request[no_activity]', false %>
                  <a class="m-t-10 m-b-0 btn btn-block btn-short btn-empty-red btn-wrapable btn-no-rounded" data-toggle="modal" href="#modal_create_empty">
                    Je confirme ne pas avoir d'activité ou de développement sur ce mois
                  </a>
                </div>
              </div>
            <% else %>
              <div class="text-bold">Souhaitez-vous néanmoins un salaire complémentaire ?</div>
              <div class="row small-gutter flex">
                <div class="col-xs-6 flex">
                  <%= link_to "Oui, je souhaite un salaire", '#',
                              class: 'm-t-10 m-b-0 btn btn-block btn-short btn-rouge btn-wrapable btn-no-rounded',
                              id: 'no_activity_with_salary' %>
                </div>
                <div class="col-xs-6 flex">
                  <%= hidden_field_tag 'statement_of_activities_request[no_activity]', false %>
                  <a class="m-t-10 m-b-0 btn btn-block btn-short btn-empty-red btn-wrapable btn-no-rounded" data-toggle="modal" href="#modal_create_empty">
                    Non je valide ma déclaration d'activité
                  </a>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:mobile_modals) do %>
<div class="modal fade mission-expense" id="myModal" tabindex="-1" role="dialog" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center">
          Vous n'avez pas déclaré d'activité depuis un ou<br/>
          plusieurs mois. Les déclarations d'activité<br/>
          doivent se faire de manière chronologique.<br/><br/>

          <span class="text-bold">
            Avez-vous travaillé les mois précédents<br/>
            <%= l(current_consultant.first_possible_statement_of_activities_request_month, format: '%B %Y') %>
          </span>
        </div>
      </div>
      <div class="modal-padding">

        <div class="flex_wrap hidden-xs">
          <button type="button" class="btn btn-empty-grey btn-flex load_first_possible_month" data-dismiss="modal">
            OUI<br/>
            DÉCLARER MES ACTIVITÉS<br/>
            DANS L'ORDRE CHRONOLOGIQUE
          </button>

          <%= link_to raw("NON<br/>CONTINUER"), '#confirm', class: 'btn btn-empty-grey btn-flex',
                      data: {toggle: 'modal', dismiss: 'modal'} %>
        </div>

        <div class="visible-xs">
          <button type="button" class="btn btn-empty-grey btn-flex btn-full-width load_first_possible_month" data-dismiss="modal">
            OUI<br/>
            DÉCLARER MES ACTIVITÉS<br/>
            DANS L'ORDRE CHRONOLOGIQUE
          </button>

          <%= link_to raw("NON<br/>CONTINUER"), '#confirm', class: 'btn btn-empty-grey btn-flex',
                      data: {toggle: 'modal', dismiss: 'modal'} %>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade mission-expense" id="confirm" tabindex="-1" role="dialog" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center">
          Souhaitez-vous néanmoins un salaire<br/>
          complémentaire ?
        </div>
      </div>
      <div class="modal-footer align-center">
        <%= link_to 'OUI',
                    synthesis_2_step_statement_of_activities_path('statement_of_activities_request[date]' => current_consultant.statement_of_activities_request_months.first.iso8601),
                    class: 'btn btn-empty-grey btn-no-margin-tb' %>

        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" id="create_previous_empty">
          NON
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade mission-expense" id="modal_create_empty" tabindex="-1" role="dialog" aria-hidden="true"
     data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center">
          Je déclare ne pas avoir d’activité ; en conséquence, je m’engage à ne pas déclarer de frais sur cette période.<br>
          Pour rappel, une des conditions pour déclarer des frais d'activité est d’avoir un bulletin de salaire sur le mois et de déclarer des heures de travail (mission/prospection/formation)
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" id="create_empty">
          Je confirme
        </button>
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">
          Je souhaite déclarer de l'activité
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>

<%= render partial: 'layouts/bureau_consultant/loading_modal' %>

<script>
  var display_previous_months_modal = <%= raw (current_consultant.statement_of_activities_request_months.size > 1).to_json %>
  var first_possible_month_option = '<%= raw options_for_select([
    [
      l(current_consultant.statement_of_activities_request_months.first, format: '%B %Y'),
      current_consultant.statement_of_activities_request_months.first.iso8601
    ]
  ]) %>'

  $(window).on('load', function () {
    if (display_previous_months_modal){
      $('#myModal').modal('show');
    }
    $('#declaration_choices_selection').removeClass('hidden');
  });
</script>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60',
           nav_title: 'DÉCLARATION D’ ACTIVITÉ',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>
