<div class="row manage-luncheon-voucher">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 1.5 %>
  </div>

  <div class="col-sm-12 col-md-10">
    <div class="page-top clearfix da">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          <%= t('declaration_activities.luncheon_voucher_request.title') %>
          <span class="text-bold"><%= l current_month, format: :month_year %></span>
        </h4>
      </div>
    </div>

    <div class="step_horizontal visible-sm visible-xs">
      <%= render '3_step_horizontal', step: 1.5, video_part: 4 %>
    </div>

    <div class="clearfix"></div>

    <%= form_for @dda, url: update_luncheon_vouchers_statement_of_activities_path, method: :post do |form| %>
    <div class="m-t-10">
      <%= render partial: 'activity_luncheon_voucher', locals: { date_activities: @date_activities, form: form } %>
    </div>

    <div class="align-center m-t-10">
      <%= link_to 'PRÉCÉDENT', new_statement_of_activity_path,
                  class: 'btn btn-grey btn-short btn-no-margin-top btn-no-rounded'
      %>
      <%= form.submit 'ÉTAPE SUIVANTE',
                      class: 'btn btn-rouge btn-short btn-no-margin-top btn-no-rounded' %>
    </div>
    <% end %>

  </div>
</div>
