<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 2 %>
  </div>

  <div class="col-sm-12 col-xs-12 col-md-9">

    <div class="page-top clearfix da hide">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          <%= t('declaration_activities.mission_expenses.title') %>
        </h4>
      </div>
    </div>

    <div class="step_horizontal visible-sm visible-xs" style="height:100px;">
      <%= render '3_step_horizontal', step: 2 %>
    </div>


    <div class="">
      <div class="panel">
        <form class="form no-margintop scrollable da-1">
          <div class="scrollwp">
            Choisissez le mois concerné
            <select class="form-control m-t-10">
              <option><%= l current_month, format: :month_year %></option>
            </select>

            <div class="m-t-10">
              <%= vehicle_check %>
            </div>
            <div class="row cta-footer m-t-20">
              <div class="col-xs-12">
                <%= link_to 'SAISIR MES FRAIS', manage_mission_statement_of_activities_path,
                            class: 'm-t-0 m-b-0 btn btn-full-width btn-rouge btn-block', method: :get %>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60',
           nav_title: t('declaration_activities.mission_expenses.title'),
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>
