<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 2, video_part: 3 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9">

    <div class="page-top clearfix da">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          <%= t('declaration_activities.mission_expenses.title') %>
          <span class="text-bold"><%= l current_month, format: :month_year %></span>
        </h4>
      </div>
    </div>

    <div class="step_horizontal visible-sm visible-xs">
      <%= render '3_step_horizontal', step: 2, video_part: 3 %>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 panel m-t-20">
      <form class="form no-margintop scrollable da-1">
        <div class="scrollwp">
          <div class="text-bold p-t-20">Nous vous invitons à rentrer vos frais avant de valider votre déclaration
            d'activité
          </div>
          <div class="field-title">Rappel : Vous ne pouvez déclarer des frais que sur vos jours d'activité.</div>

          <div class="row">
            <div class="col-xs-12">
              <div class="m-t-20">

                <div class="flex_wrap hidden-md hidden-sm hidden-xs">
                  <%= link_to 'PRÉCÉDENT', new_statement_of_activity_path,
                              class: 'btn btn-grey btn-flex btn-no-rounded' %>

                  <%= link_to 'SAISIR MES FRAIS', manage_mission_statement_of_activities_path,
                              class: 'btn btn-rouge btn-flex btn-no-rounded', method: :get %>

                  <%= link_to raw('SAISIR MES FRAIS <br/> ULTÉRIEUREMENT'),
                              synthesis_2_calendar_statement_of_activities_path,
                              class: 'btn btn-empty-red btn-flex btn-no-rounded', style: 'width: 240px' %>
                </div>

                <div class="visible-md visible-sm visible-xs align-center">
                  <div>
                    <%= link_to 'PRÉCÉDENT', new_statement_of_activity_path,
                                class: 'btn btn-grey btn-no-rounded btn-no-margin-top btn-block btn-full-width' %>
                  </div>

                  <div>
                    <%= link_to 'SAISIR MES FRAIS', manage_mission_statement_of_activities_path,
                                class: 'btn btn-rouge btn-no-rounded btn-no-margin-top btn-block btn-full-width', method: :get %>
                  </div>

                  <div>
                    <%= link_to raw('SAISIR MES FRAIS <br/> ULTÉRIEUREMENT'),
                                synthesis_2_calendar_statement_of_activities_path,
                                class: 'btn btn-empty-red btn-no-rounded btn-no-margin-top btn-block btn-full-width' %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div>
              Puissance fiscale de votre véhicule :
              <span class="text-bold"><%= current_consultant.vehicle&.vehicle_taxe_weight&.taxe_weigth || 0 %> CV</span>
            </div>

            <div class="m-t-10">
              Pour modifier la puissance fiscale de votre véhicule, merci d'en adresser la demande à votre
              correspondant et en joignant la copie du certificat d'immatriculation de votre nouveau véhicule.
              <%= link_to 'En savoir plus sur la puissance fiscale et la TVS',
                          'https://bureau.itg.fr/dl_fic_outils/141117_183144_FIC.pdf',
                          target: '_blank' %>
            </div>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>
