<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 2 %>
  </div>

  <div class="col-xs-12">

    <div class="page-top clearfix da hide">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          <%= t('declaration_activities.mission_expenses.title') %>
          <span class="text-bold"><%= l current_month, format: :month_year %></span>
        </h4>
      </div>
    </div>

    <div class="step_horizontal visible-sm visible-xs">
      <%= render '3_step_horizontal', step: 2 %>
    </div>


    <div class="col-xs-12 bg-white m-t-20">
      <form class="form no-margintop scrollable da-1 padding-0 p-t-15 p-b-15">
        <div class="scrollwp">
          <div class="text-bold">Nous vous invitons à rentrer vos frais avant de valider votre déclaration
            d'activité
          </div>
          <div class="field-title">Rappel : Vous ne pouvez déclarer des frais que sur vos jours d'activité.</div>

          <div class="row">
            <div class="col-xs-12">
              <div class="m-t-20">

                <div class="align-center">

                  <%= link_to 'PRÉCÉDENT', new_statement_of_activity_path,
                              class: 'btn btn-grey btn-full-width btn-no-rounded m-t-0 m-b-15' %>

                  <%= link_to 'SAISIR MES FRAIS', manage_mission_statement_of_activities_path,
                              class: 'btn btn-rouge btn-full-width btn-no-rounded m-t-0 m-b-15', method: :get %>

                  <%= link_to raw('SAISIR MES FRAIS <br/> ULTERIEURMENT'),
                              synthesis_2_calendar_statement_of_activities_path,
                              class: 'btn btn-empty-red btn-full-width btn-no-rounded m-t-0 m-b-15' %>

                </div>

              </div>
            </div>
          </div>

          <div>
            <div>
              Puissance fiscale de votre véhicule : <span class="text-bold"><%= current_consultant.vehicle&.vehicle_taxe_weight&.taxe_weigth || 0 %> CV</span>
            </div>

            <div class="m-t-10">
              Pour modifier la puissance fiscale de votre véhicule, merci d'en adresser la demande à votre
              correspondant et en joignant la copie du certificat d'immatriculation de votre nouveau véhicule.
              <%= link_to 'En savoir plus sur la puissance fiscale et la TVS',
                          'https://bureau.itg.fr/dl_fic_outils/141117_183144_FIC.pdf',
                          target: '_blank' %>
            </div>

          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60',
           nav_title: 'Frais de mission',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>
