<% if session[:errors] && !session[:errors].empty? %>
  <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% session[:errors].each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if session[:warnings] && !session[:warnings].empty? %>
  <div id="error_explanation" class="alert alert-warning">
    <ul>
      <% session[:warnings].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if statement_of_activities_request.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% statement_of_activities_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 1, video_part: 2 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '3_step_horizontal', step: 1, video_part: 2 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <%= render 'top-panel' %>
    <%= render 'calendar' %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 set-calendar-tab m-t-25">

    <div class="align-center p-t-100 bg-white">
     <i class="fa fa-file-text fa-4x text-grey"></i>

     <div class="m-t-20 text-violet" style="min-height: 250px;">
       <span style="float: left; left:15%; position: relative;">
         <i class="fa fa-long-arrow-left hidden-xs hidden-sm"></i>
       </span>


       <span>
         Veuillez cliquer sur un jour <br/>
         pour lequel vous souhaitez <br/>
         déclarer ou éditer votre activité.
       </span>
     </div>
   </div>

    <%= render 'manage_activities_buttons' %>
  </div>

  <%= render 'manage_zipcode' %>
</div>

<%= render 'zipcode_error' %>
