<div id="error_explanation" class="alert alert-danger" style="display: none">
</div>

<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 3, video_part: 5 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '3_step_horizontal', step: 3, video_part: 5 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <%= render 'top-panel' %>
    <%= render 'calendar' %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <%= render 'top-panel-synthesis' %>
    <%= render partial: 'synthesis-salary-form', locals: { hide_expenses_message: true } %>

    <div class="flex_wrap">
      <%= link_to 'PRÉCÉDENT', manage_mission_statement_of_activities_path,
                  class: 'btn btn-grey btn-no-rounded btn-flex btn-wrapable' %>
      <%= link_to raw("VALIDER MA <br/>DÉCLARATION D'ACTIVITÉ"), '#',
                  class: 'btn btn-rouge btn-no-rounded btn-flex btn-wrapable m-l-10',
                  id: 'statement_of_activities_validate'
      %>
    </div>

  </div>
</div>

<%= render 'synthesis-buttons' %>

<%= render partial: 'layouts/bureau_consultant/loading_modal' %>
