<div id="error_explanation" class="alert alert-danger" style="display: none">
</div>

<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 3 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '3_step_horizontal', step: 3 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <div style="margin-bottom: -15px">
      <%= render 'top-panel' %>
    </div>

    <div class="panel-expenses">
      <%= render 'top-panel-expenses' %>
    </div>

    <div class="panel-synthesis">
      <%= render 'top-panel-synthesis' %>
    </div>

    <%= render partial: 'synthesis-salary-form', locals: { hide_expenses_message: true } %>

    <div class="flex_wrap">
      <%= link_to 'PRÉCÉDENT', manage_mission_statement_of_activities_path,
                  class: 'btn btn-grey btn-no-rounded btn-flex btn-wrapable m-t-10 m-b-0' %>
      <%= link_to raw("VALIDER MA <br/>DÉCLARATION D'ACTIVITÉ"), '#',
                  class: 'btn btn-rouge btn-no-rounded btn-flex btn-wrapable m-l-10 m-t-10 m-b-0',
                  id: 'statement_of_activities_validate'
      %>
    </div>

  </div>
</div>

<%= render 'synthesis-buttons' %>

<%= render partial: 'layouts/bureau_consultant/loading_modal' %>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60',
           nav_title: "Synthèse #{ l current_month, format: :month_year }",
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>

<style>
  .mobile-app .panel-synthesis .label-top {
    font-size: 13px;
  }

  .mobile-app .panel-synthesis .panel.info-panel {
    padding: 15;
  }

  .mobile-app .panel-expenses {
    padding: 15px;
  }

  .mobile-app .panel-expenses .top-panel > div {
    margin-top: 0 !important;
  }

  .mobile-app .panel-expenses .frais_header {
    margin-bottom: 0;
  }
</style>
