<div id="error_explanation" class="alert alert-danger" style="display: none">
</div>

<div class="row">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render '2_step', step: 2, video_part: 5 %>
  </div>

  <div class="step_horizontal visible-sm visible-xs">
    <%= render '2_step_horizontal', step: 2, video_part: 5 %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <%= render 'top-panel' %>
    <%= render 'calendar' %>
  </div>

  <script>
    var gross_salary = <%= raw statement_of_activities_request.gross_wage.to_json %>
  </script>

  <div class="col-xs-12 col-sm-12 col-md-5 m-t-20">
    <%= render 'top-panel-synthesis' %>
    <%= render partial: 'synthesis-salary-form', locals: { hide_expenses_message: false } %>

    <div class="flex_wrap">
      <%= link_to "PRÉCÉDENT",
                  current_consultant.allowed_expenses_refund? ? mission_expense_statement_of_activities_path : new_statement_of_activity_path(anchor: 'manage_zipcode'),
                  class: 'btn btn-grey btn-no-rounded btn-flex btn-wrapable' %>
      <%= link_to raw("VALIDER MA <br/>DÉCLARATION D'ACTIVITÉ"), '#',
                  class: 'btn btn-rouge btn-no-rounded btn-flex btn-wrapable m-l-10',
                  id: 'statement_of_activities_submit',
                  data: { 'activities-only': true }
      %>
    </div>

  </div>
</div>

<%= render partial: 'synthesis-buttons' %>

<%= render partial: 'layouts/bureau_consultant/loading_modal' %>
