<div class="faq">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-left">
          <div class="bg-white p-b-20 m-b-20">
            <div class="help-header">
              <div class="help-header-title align-center">ITG VOUS INFORME</div>
            </div>

            <div class="m-t-20">
              <div class="accordion-group" id="accordion" role="tablist" aria-multiselectable="true">

                <% @topics.each_with_index do |t, index| %>

                    <div class="accordion panel-default">
                      <div class="panel-heading help-panel normal"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           data-target='#menu_<%= index %>'
                           role="tab"
                           style="cursor: pointer">

                        <h4 class="panel-title text-smaller help-panel">
                          <a class="collapsed">
                            <%= t.name %>
                          </a>
                        </h4>

                      </div>
                      <div id="menu_<%= index %>" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                          <div class="subaccordion">

                            <% t.articles.only_active.each_with_index do |a, index_sub| %>

                                <div class="subaccordion-panel panel-default">
                                  <div class="panel-heading help-panel normal"
                                       data-toggle="collapse"
                                       data-parent="#accordion"
                                       data-target='#submenu_<%= index %>_<%= index_sub %>'
                                       role="tab"
                                       style="cursor: pointer">
                                    <h4 class="panel-title text-smaller help-panel">
                                      <a class="collapsed">
                                        <%= a.title %>
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="submenu_<%= index %>_<%= index_sub %>" class="panel-collapse collapse" role="subtabpanel">
                                    <%= link_to article_path(a) do %>
                                        <div class="panel-body">
                                          <%= strip_tags(a.chapo) %>
                                        </div>
                                    <% end %>
                                  </div>
                                </div>

                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                <% end %>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
