<div class="row">
  <div class="col-md-12">
    <div class="row grid-big-left">
      <div class="col-left">
        <div class="article-left-white-bg">
          <div class="padding-left-right">
            <div class="article-header">
              <div class="row">
                <div class="col-xs-3 col-md-2 col-sm-2">
                  <div class="calendar-frame m-t-10">
                    <div class="calendar-day">12</div>
                    <div class="calendar-month">Oct</div>
                    <div class="calendar-year">2017</div>
                  </div>
                </div>

                <div class="col-xs-9 col-md-10 col-sm-10">
                  <div class="article-header-title">
                    QUELS SONT LES MÉTIERS DU PORTAGE SALARIAL ?
                  </div>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="link-lists">
                  <div class="align-center icon-set hidden-xs">
                    <%= image_tag 'bureau_consultant/icon-share', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-twitter', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-linkedin', :class => 'adjust-icon' %>
                    <%= image_tag 'bureau_consultant/icon-facebook', :class => 'adjust-icon' %>
                  </div>

                  <div class="hidden-lg hidden-md hidden-sm align-center m-t-20">
                    <div class="col-xs-12">
                      <%= image_tag 'bureau_consultant/icon-share', :class => 'adjust-icon' %>
                      <%= image_tag 'bureau_consultant/icon-twitter', :class => 'adjust-icon' %>
                    </div>
                    <div class="col-xs-12 m-t-20 m-b-20">
                      <%= image_tag 'bureau_consultant/icon-linkedin', :class => 'adjust-icon' %>
                      <%= image_tag 'bureau_consultant/icon-facebook', :class => 'adjust-icon' %>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                Le portage salarial, nouvelle forme d'emploi en croissance, suscite diverses interrogations.
                Parmi elles, il y a notamment la question des métiers qui entrent ou non dans le cadre du
                portage salarial. Tandis que le régime auto-entrepreneur peul être utilisé pour la plupart des
                activités,
                le recours au portage salarial n’est pas possible pour certains métiers.
              </div>

              <div class="m-t-20">
                Que dit la loi ? Quels métiers ne sont pas éligibles
                au <%= link_to 'portage salarial', '#', class: 'custom-link' %> ?
                Quelles activités rentrent dans le cadre du portage ? Eléments de réponses.
              </div>

              <div class="m-t-20">
                <img src="http://dummyimage.com/650x300/000/fff" class="img-responsive" alt="dummy_img"/>
              </div>

              <div class="m-t-20 article-subtitle">
                LES CONDITIONS DE RECOURS AU PORTAGE SALARIAL : QUE DIT LA LOI ?
              </div>

              <div class="m-t-20">
                <%= link_to "L'article L. 1254-2.-I. du Code du travail", '#', class: 'custom-link' %> spécifie que “le
                salarié porté justifie d’une
                expertise, d’une qualification et d’une autonomie qui lui permet de rechercher lui-même ses clients
                et de convenir avec eux des conditions d’exécution de sa prestation et de son prix.”
              </div>

              <div class="m-t-20">
                Ce même article précise que le niveau de rémunération du salarié porté doit être au minimum
                de 2413,50 euros bruts temps plein (75% du plafond de la sécurité sociale) + 5% d’apport
                d’affaires, soit environ 2534 euros bruts équivalent temps plein.
              </div>

              <div class="m-t-20">
                Par ailleurs, l’article L. 1254-5. stipule que “Les activités de services à la personne
                mentionnées à l’article L. 7231-1 ne peuvent faire l’objet d’un contrat de travail en portage
                salarial.”
              </div>

              <div class="m-t-20">
                Il en est de même pour les professions réglementées (avocat, médecin, pharmacien, coiffeur,
                notaire, etc) et les activités commerciales, qui ne rentrent pas dans le cadre du portage salarial.
              </div>

              <div class="m-t-20 article-subtitle">
                LES MÉTIERS ÉLIGIBLES AU PORTAGE SALARIAL
              </div>

              <div class="m-t-20">
                Le portage salarial s’adresse à des profils exerçant dans les métiers du conseil et capables de
                trouver des clients en autonomie grâce à leur expertise. Ceux-ci doivent aussi avoir un TJM
                suffisamment élevé pour rentrer dans le cadre de la loi.
              </div>

              <div class="m-t-20">
                Ces conditions remplies, le portage salarial est accessible à tous les métiers des prestations
                intellectuelles. ITG, leader du portage salarial, dispose d’un réseau de plus de 4000 salariés
                portés. Ceux-ci exercent dans des domaines tels que la gestion de projet, l’informatique,
                l’ingénierie, le digital, le coaching, la formation, les ressources humaines, le marketing, la
                communication, la qualité, la traduction, l’audit, la santé ou encore le management.
              </div>

              <div class="m-t-20">
                Parmi eux, on retrouve des profils cadres, des auto-entrepreneurs, des freelances, des consultants
                internationaux, des seniors, des retraités, des créateurs d’entreprises, des salariés dans le
                cadre d’une deuxiéme activité, des personnes en transition professionnelle ou en reconversion, des
                jeunes diplômés... Plus généralement, le portage salarial est utilisé par des personnes
                désireuses de vivre un autre rapport au travail.
              </div>


              <br/><br/><br/>
              <div class="align-center m-t-20">
                <div class="article-subtitle font-weight-normal">Pour en savoir plus, consultez notre page :</div>
                <div class="">
                  <button class="btn btn-no-rounded yellow-btn">VOTRE PROFIL, NOS SERVICES ADAPTES</button>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="col-right">
        <div class="article-right-white-bg">
          <div class="article-header-subtitle align-center article-header">ARTICLES ANNEXES</div>
          <div class="border-another-article m-t-30">
            <div class="another-article-header-title-wrapper">
              <div class="col-xs-3">
                <div class="calendar-frame m-t-10">
                  <div class="calendar-day">12</div>
                  <div class="calendar-month">Oct</div>
                  <div class="calendar-year">2017</div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="border-another-article-title">
                  <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="padding-left-right border-another-article-body">Début de l’article. Lorem ipsum dolor sit
              amet,
              consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
              facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
              molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis ....
            </div>
          </div>

          <div class="border-another-article">
            <div class="another-article-header-title-wrapper">
              <div class="col-xs-3">
                <div class="calendar-frame m-t-10">
                  <div class="calendar-day">12</div>
                  <div class="calendar-month">Oct</div>
                  <div class="calendar-year">2017</div>
                </div>
              </div>

              <div class="col-xs-9">
                <div class="border-another-article-title">
                  <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="padding-left-right border-another-article-body">Début de l’article. Lorem ipsum dolor sit
              amet,
              consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
              facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
              molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis ....
            </div>
          </div>

          <div class="border-another-article">
            <div class="another-article-header-title-wrapper">
              <div class="col-xs-3">
                <div class="calendar-frame m-t-10">
                  <div class="calendar-day">12</div>
                  <div class="calendar-month">Oct</div>
                  <div class="calendar-year">2017</div>
                </div>
              </div>

              <div class="col-xs-9">
                <div class="border-another-article-title">
                  <%= truncate_2_lines("TITRE DE L’INFO LOREM IPSUM DOLOR SUR DEUX LIGNES MAX LOREM IPSUM
                      asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>
                </div>
              </div>
            </div>

            <div class="padding-left-right border-another-article-body">
              <%= truncate_5_lines("Début de l’article. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Proin dui turpis, lobortis eu elit sit amet,
                  facilisis euis- mod mi. Morbi ac ornare tellus. Suspendisse odio tortor,
                  molestie sit amet vulputate quis, porta a urna. Fusce a leo ac augue varius facilisis
                  asdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasdasdasdasdasdasdasddadasdasdasdasd") %>

              <div class="m-t-20">
                <img src="http://dummyimage.com/280x200/000/fff" class="img-responsive center-block" alt="dummy_img"/>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>