<tr class='statement_of_activities_request'>
  <td>
    <div class="line clearfix">
      <input type="checkbox" value="<%= office_activity_reports.id %>" name="q[id_in][]" class="ids"/>
    </div>
  </td>

  <td class='statement_of_activities_request_year'><%= office_activity_reports.year %></td>
  <td class='statement_of_activities_request_month'><%= I18n.t("date.month_names")[office_activity_reports.month].capitalize %></td>
  <td><%= office_activity_reports.formated_total_worked_days %></td>
  <td><%= office_activity_reports.formated_hours %></td>
  <td><%= office_activity_reports.formated_unpaid_absences_days %></td>
  <td><%= office_activity_reports.formated_absences_hours %></td>
  <td><%= office_activity_reports.formated_gross_wage %></td>
  <td><%= office_activity_reports.formated_expenses_with_taxes %></td>
  <td><%= office_activity_reports.formated_kilometers %></td>
  <td class='statement_of_activities_request_status'><%= office_activity_reports.activity_report_status.text %></td>
  <td class=''><%= office_activity_reports.activity_report_expense_status.text %></td>
  <td>
    <%= link_to fa_icon('file-pdf-o'),
                history_show_statement_of_activities_requests_path(office_activity_reports.id, format: :pdf),
                target: :_blank,
                data: { content: 'Télécharger le PDF', toggle: 'popover', trigger: 'hover', placement: 'auto top' }
    %>
  </td>

</tr>
