<% if params[:id] %>
  <%= form_tag update_line_invoice_requests_path(id: params[:id]), method: :patch, id: 'edit_line', class: 'current_line form-horizontal' do %>

    <div class="bg-white p-b-5 padding-left-right invoice_request_line">

      <div class="align-center p-t-15"><label>Modifier la ligne</label></div>

      <div class="p-t-10">
        <label>Type</label>
        <%= select_for_invoice_request_line_type invoice_request_line %>
      </div>

      <div class="p-t-10">
        <label id="label-amount">Montant<span class="text-red">*</label>
        <%= amount_input_for_invoice_request_line invoice_request_line %>
      </div>

      <div class="p-t-10">
        <label>Libellé <span class="text-red">*</span></label>
        <%= label_input_for_invoice_request_line_for_mobile invoice_request_line %>
      </div>

      <div class="align-center">
        <div class="row small-gutter">
          <div class="col-sm-6">
            <button class="btn btn-no-rounded btn-full-width btn-block btn-grey m-b-15 m-t-15" type="reset">réinitialiser</button>
          </div>
          <div class="col-sm-6">
            <input type="submit" name="commit" value="METTRE À JOUR" class="btn btn-no-rounded btn-full-width btn-block btn-orange m-b-15 m-t-15" data-disable-with="METTRE À JOUR">
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% else %>
  <%= form_for invoice_request_line,
               validate: true,
               url: add_line_invoice_requests_path,
               class: 'form-horizontal' do |f| %>

    <div class="bg-white p-b-5 padding-left-right invoice_request_line">

      <div class="align-center p-t-15"><label>Ajouter une ligne à la facture</label></div>

      <div class="p-t-10">
        <label>Type</label>
        <%= select_for_invoice_request_line_type invoice_request_line.detail_type ? invoice_request_line : nil %>
      </div>

      <div class="p-t-10">
        <label id="label-amount">Montant<span class="text-red">*</label>
        <%= amount_input_for_invoice_request_line invoice_request_line %>
      </div>

      <div class="p-t-10">
        <label>Libellé <span class="text-red">*</span></label>
        <%= label_input_for_invoice_request_line_for_mobile invoice_request_line %>
      </div>

      <div class="align-center">
        <div class="row small-gutter">
          <div class="col-sm-6">
            <%= f.submit 'AJOUTER', class: 'btn btn-no-rounded btn-full-width btn-block btn-orange m-b-15 m-t-15' %>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-no-rounded btn-full-width btn-block btn-grey m-b-15 m-t-15" type="reset">réinitialiser</button>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
