<div class="row invoice_request_line <%= @invoice_request_line ? 'disabled' : '' %>">
  <div class="col-md-1 no-p-l-r">
    <%= select_for_invoice_request_line_type invoice_request_line, disabled: true %>
  </div>
  <div class="col-md-11 bg-white">
    <div class="row">
      <div class="col-md-9">
        <%= simple_format invoice_request_line.label %>
      </div>
      <div class="col-md-2 align-center">
        <p>
          <%= number_to_currency invoice_request_line.amount, unit: currency.symbol if invoice_request_line.has_amount? %>
        </p>
      </div>
      <div class="col-md-1">
        <% if @invoice_request_line.nil? %>
          <%= link_to edit_line_invoice_requests_path(id: index),
                      style: 'position: absolute; top: 7px;' do %>
            <i class='fa fa-pencil text-white bg-violet small-icon-set clickable icon-centering' aria-hidden='true'
               data-toggle="popover"
               data-html="true"
               data-trigger="hover"
               data-container="body"
               data-placement="auto top"
               data-content="Modifier">
            </i>
          <% end %>

          <%= link_to remove_line_invoice_requests_path(id: index),
                      method: :delete,
                      style: 'position: absolute; right: 10px; top: 7px;',
                      data: {confirm: 'Etes-vous sûr ?'} do %>
            <i class='fa fa-trash text-white bg-red small-icon-set clickable icon-centering' aria-hidden='true'
               data-toggle="popover"
               data-html="true"
               data-trigger="hover"
               data-container="body"
               data-placement="auto top"
               data-content="Supprimer">
            </i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
