<table class="table borderless">
  <tr style="width: 95px;">
    <th>Edit / Sup</th>
    <th>&nbsp;</th>
    <th>Type</th>
    <th>Libellé</th>
    <th>Montant HT (<%= invoice_request.currency.symbol %>)</th>
  </tr>

  <% invoice_request_lines.each_with_index do |line, index| %>
    <tr data-item-no="<%= index %>">
      <td class="td-first-element p-l-25">
        <%= link_to fa_icon('pencil', class: 'small-icon-set clickable icon-with-bg'),
                    edit_line_invoice_requests_path(index) %>
        <%= link_to fa_icon('trash-o', class: 'small-icon-set clickable icon-with-bg'),
                    remove_line_invoice_requests_path(index), method: :delete,
                    data: {confirm: 'Etes-vous sûr ?'} %>
      </td>
      <td><%= index %>.</td>
      <td>
        <%= case line.detail_type
            when 'fees'     then 'Honoraires'
            when 'expense'  then 'Frais'
            when 'comment'  then 'Commentaire'
            when 'break'    then 'Saut de ligne'
            end %>
      </td>
      <td><%= line.label %></td>
      <td><%= number_to_currency line.amount, unit: invoice_request.currency.symbol if line&.has_amount? %></td>
    </tr>
  <% end %>
</table>
