<div class="page-top clearfix da">
  <div class="col-sm-12 no-p-l-r">
    <h4 class="list-title no-m-l">
      FACTURER UN CLIENT
    </h4>
  </div>
</div>

<% if current_consultant.considered_qualiopi? %>
  <div class="row">
    <div class="alert alert-warning">
      <h4>CERTIFICATION QUALIOPI</h4>
      <p>Merci de nous transmettre les éléments de preuves mentionnées dans la check-list.</p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white">
    <div class="row m-t-10 m-b-10">
      <div class="col-md-4">
        <p>
          <%= image_tag display_logo_image_path_by_itg_establishment_id(invoice_request.itg_establishment_id), style: 'width: 176px;' %>
        </p>
        <%= raw([invoice_request.itg_establishment.itg_company.contact_datum.address_1, invoice_request.itg_establishment&.itg_company&.contact_datum&.address_2, invoice_request.itg_establishment&.itg_company&.contact_datum&.address_3].compact.reject { |a| a.empty? }.join("<br/>")) %><br />
        <%= invoice_request.itg_establishment.itg_company.contact_datum.zip_code %> <%= invoice_request.itg_establishment.itg_company.contact_datum.city %><br />
        <%= invoice_request.itg_establishment.itg_company.contact_datum.country&.label %><br />
        Tél : <%= invoice_request.itg_establishment.itg_company.contact_datum.phone %> /
        Fax : <%= invoice_request.itg_establishment.itg_company.contact_datum.fax %>
      </div>
    </div>
    <div class="row m-b-10">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <%= establishment_name_for_invoice(invoice_request) %><br />
        <%= contact_name_for_invoice(invoice_request) %><br/>
        <%= address_for_invoice(invoice_request) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Date : <%= invoice_request.date.strftime('%d/%m/%Y') %>
      </div>
    </div>

  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white">
    <div class="row">
      <div class="col-md-8">
        Code client : <%= invoice_request.establishment.try :id %>
        <% if !invoice_request.establishment.try(:vat_number).try(:blank?) %>
          N° TVA intracommunautaire Client : <%= invoice_request.establishment.try(:vat_number) %>
        <% end %>
        <br />
        Référence : <%= invoice_request.consultant.id %><br />
        REF CONTRAT CLIENT : <%#= invoice_request.commercial_contract&.client_contract_reference %>
      </div>
    </div>
  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row text-grey">
  <div class="col-md-1 p-t-20 p-b-20">
    Type
  </div>
  <div class="col-md-11 bg-white p-t-20 p-b-20 align-center">
    <div class="row">
      <div class="col-md-9">
        Libellé
      </div>
      <div class="col-md-2">
        Montant
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</div>

<% invoice_request.office_customer_bill_details.each_with_index do |invoice_request_line, index| %>
  <% if @invoice_request_line && params[:id].to_i == index %>
    <%= render partial: 'edit_invoice_request_line',
               locals: {
                index:                index,
                currency:             invoice_request.currency,
                invoice_request:      invoice_request,
                invoice_request_line: invoice_request_line
               } %>
  <% elsif invoice_request_line != @new_invoice_request_line %>
    <%= render partial: 'invoice_request_line',
               object: invoice_request_line,
               locals: {
                index:           index,
                currency:        invoice_request.currency,
                invoice_request: invoice_request
               } %>
  <% end %>
<% end %>

<%= render partial: 'new_invoice_request_line' %>

<div class="row text-grey align-center">
  <div class="col-md-1"></div>
  <div class="col-md-11 bg-white p-b-10">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white">
    <%= invoice_request_total_line label: 'Total des prestations', amount: presenter.formated_fees     %>
    <%= invoice_request_total_line label: 'Total des frais',       amount: presenter.formated_expenses %>
  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white">
    <%= invoice_request_total_line label: 'Total hors TVA',        amount: presenter.formated_total_without_vat %>
  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white">
    <%= invoice_request_total_line  label: 'TVA acquittée sur les encaissements',
                                   amount: presenter.formated_vat_amount %>
  </div>
</div>

<%= invoice_request_horizontal_line %>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11 bg-white p-b-10">
    <%= invoice_request_total_line label: 'Total à payer TTC',     amount: presenter.formated_total_with_vat %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="p-t-5 align-center">
      <%= link_to 'précédent', new_invoice_request_path, class: 'btn btn-short btn-grey' %>
      <%= link_to 'suivant', synthesis_invoice_requests_path, class: 'btn btn-short btn-rouge', id: 'next' %>
    </div>
  </div>
</div>
