<% current_modal ||= '#video-part-1' %>

<div class="billing tunnel-container m-t-40">
  <ol class="tunnel">
    <li <%= add_current_step_class(1, step) %>>
      <div class="border">
        <div class="step-text <%= add_text_bold(1, step) %>">
          Client

          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <%= raw(add_tooltip_modal(1, step, current_modal)) %>
            </div>
          <% end%>
        </div>
      </div>
    </li>
    <li <%= add_current_step_class(2, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(2, step) %>">
          Facturation
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <%= raw(add_tooltip_modal(2, step, current_modal)) %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
    <li <%= add_current_step_class(3, step) %>>
      <div class="border2">
        <div class="step-text <%= add_text_bold(3, step) %>">
          Synthèse
          <% if Goxygene.is_freeland? %>
            <div class="m-t-10">
              <%= raw(add_tooltip_modal(3, step, current_modal)) %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
</div>

<%= render 'bureau_consultant/shared/modal_video_tutorial',
           modal_id: 'video-part-1',
           modal_title: 'Facturation v1 Part1',
           video_url: '//www.youtube.com/embed/dTZRSFZ_sBY',
           video_id: 'dTZRSFZ_sBY' %>

<%= render 'bureau_consultant/shared/modal_video_tutorial',
           modal_id: 'video-part-2',
           modal_title: 'Facturation v1 Part2',
           video_url: '//www.youtube.com/embed/yJFEBVE48lM',
           video_id: 'yJFEBVE48lM' %>

<%= render 'bureau_consultant/shared/modal_video_tutorial',
           modal_id: 'video-part-3',
           modal_title: 'Facturation v1 Part3',
           video_url: '//www.youtube.com/embed/11OzX2aBt8o',
           video_id: '11OzX2aBt8o' %>