<div class="data-row m-b-0 padding-15">
  <div>
    <span>Création</span> :
    <%= invoices_request.formated_date %>
  </div>

  <div>
    <span>Date de facturation</span> :
    <%= invoices_request.formated_date %></span>
  </div>

  <div>
    <span>Date d'échéance</span> :
    <%= invoices_request.formated_target_date %></span>
  </div>

  <div>
    <span>Client</span> :
    <%= invoices_request.establishment_name %></span>
  </div>

  <div>
    <span>Total honoraires</span> :
    <%= invoices_request.formated_fees %></span>
  </div>

  <div>
    <span>Total frais</span> :
    <%= invoices_request.formated_expenses %></span>
  </div>

  <div>
    <span>Total HT</span> :
    <%= invoices_request.formated_total_without_vat %></span>
  </div>

  <div>
    <span>Total TTC</span> :
    <%= invoices_request.formated_total_ttc %></span>
  </div>

  <div>
    <span>Validée</span> :
    <%= invoices_request.accepted? ? 'Oui' : 'Non' %></span>
  </div>

  <div class="file-download">
    <%= link_to history_show_invoice_requests_path(invoices_request.id, format: :pdf), target: :_blank do %>
      <div class="btn btn-orange btn-no-rounded">
        PDF
      </div>
    <% end %>
  </div>
</div>
