<tr id="invoice_<%= office_customer_bills.id %>" class="invoice_request">
  <td>
    <div class="line clearfix">
      <div class="violet">
        <input type="checkbox" value="<%= office_customer_bills.id %>" name="q[id_in][]" class="ids"/>
        <span class="custom-checkbox"/>
      </div>
    </div>
  </td>

  <td class="no-wrap"><%= office_customer_bills.formated_date %></td>
  <td class="no-wrap invoice_request_date"><%= office_customer_bills.formated_date %></td>
  <td class="no-wrap"><%= office_customer_bills.formated_target_date %></td>
  <td class="no-wrap client"
      data-toggle="popover"
      data-html="true"
      data-trigger="hover"
      data-placement="auto top"
      data-container="body"
      data-content="<%= office_customer_bills.establishment_name %>">
    <%= truncate(office_customer_bills.establishment_name, length: 45) %>
  </td>
  <td class="no-wrap"><%= office_customer_bills.formated_fees %></td>
  <td class="no-wrap"><%= office_customer_bills.formated_expenses %></td>
  <td class="no-wrap"><%= office_customer_bills.formated_total_without_vat %></td>
  <td class="no-wrap"><%= office_customer_bills.formated_total_ttc %></td>
  <td class="no-wrap status no-m-t"><%= office_customer_bills.accepted? ? 'Oui' : 'Non' %></td>
  <td>
    <%= link_to fa_icon('file-pdf-o'),
                history_show_invoice_requests_path(office_customer_bills.id, format: :pdf),
                target: :_blank,
                data: { content: 'Télécharger le PDF', toggle: 'popover', trigger: 'hover', placement: 'auto top' }
    %>
  </td>

</tr>
