<div class="row with-bottom-menu">
  <div class="col-xs-12">
    <div class="contract-reqest-title hide">HISTORIQUE DE MES DEMANDES DE FACTURATION</div>

    <%= render 'bureau_consultant/shared/paginate', collection: @invoices_requests %>

    <div class="form-group m-b-15">
      <%= search_form_for @q, url: history_invoice_requests_path, :class => 'form-inline form-filters' do |f| %>
        <%= f.search_field :date_gteq, :class => 'datepicker form-control form-group', value: set_datetime_format(params[:q][:date_gteq]) %>
        <div class="form-group">
          <span class="text-bigger">à</span>
        </div>
        <%= f.search_field :date_lteq, :class => 'datepicker form-control form-group', value: set_datetime_format(params[:q][:date_lteq]) %>

        <div class="align-center hide">
          <%= f.submit 'Filtre', class: 'btn btn-violet btn-short btn-no-margin btn-no-rounded' %>

          <span data-toggle="submit" data-target="#invoice_request"
                class="btn btn-orange-static btn-no-rounded btn-no-margin">
                <i class="fa fa-external-link p-r-10"></i>Exporter
              </span>
        </div>
      <% end %>
    </div>

    <div class="data-row-wrapper">
      <%= render partial: 'table_row', collection: @invoices_requests, as: :invoices_request %>
    </div>

    <%= render 'bureau_consultant/shared/paginate', collection: @invoices_requests %>
  </div>
</div>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60',
           nav_title: 'Historique de mes demandes de factures',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-back', class: 'mobile-nav-icon'), '#', onclick: 'navGoBack();'),
           nav_right: link_to(image_tag('bureau_consultant/icon-mobile-nav-close', class: 'mobile-nav-icon'), home_index_path) %>

<%= render 'bureau_consultant/shared/mobile_bottom_nav',
           content: link_to('Filtrer', '#filters', onclick: '$("form.form-filters").trigger("submit");'),
           nav_color: '#4e4e4e' %>

<style>
  .data-row-wrapper {
    margin-bottom: 15px;
  }
  .data-row {
    background: #f2f2f2;
    border-bottom: 1px solid <%= ENV['HUB_MAIN_COLOR_DARK'] || '#8c2e60' %>;
    margin: 0 -10px;
    position: relative;
  }
  .data-row:nth-child(odd) {
    background: #f5ecf1 !important;
  }
  .data-row .file-download {
    position: absolute;
    top: 0;
    right: 0;
  }
  .data-row .file-download .btn {
    margin: 0;
    width: auto;
    margin-right: 10px;
    margin-top: 15px;
  }
  .pagination.visible-xs {
    margin-bottom: 15px !important;
  }

</style>
