<div class="row">
  <div class="col-xs-12">
    <div class="contract-reqest-title">HISTORIQUE DE MES DEMANDES DE FACTURATION</div>
    <div class="buttons-nav clearfix m-t-20">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
        <%= render 'bureau_consultant/shared/paginate', collection: @invoices_requests %>
      </div>

      <div class="col-xs-12 col-md-9 col-sm-9 col-lg-6 form-group">
        <%= search_form_for @q, url: history_invoice_requests_path, :class => 'form-inline' do |f| %>
            <%= f.search_field :date_gteq, :class => 'datepicker form-control form-group', value: set_datetime_format(params[:q][:date_gteq]) %>
            <div class="form-group">
            <span class="text-bigger">à</span>
            </div>
            <%= f.search_field :date_lteq, :class => 'datepicker form-control form-group', value: set_datetime_format(params[:q][:date_lteq]) %>
            <%= f.submit 'Filtre',
                         class: 'btn btn-violet btn-short btn-no-margin btn-no-rounded form-group hidden-xs' %>

            <div class="align-center visible-xs">
              <%= f.submit 'Filtre', class: 'btn btn-violet btn-short btn-no-margin btn-no-rounded' %>

              <span data-toggle="submit" data-target="#invoice_request"
                    class="btn btn-orange-static btn-no-rounded btn-no-margin">
                <i class="fa fa-external-link p-r-10"></i>Exporter
              </span>
            </div>
        <% end %>
      </div>

      <div data-toggle="submit" data-target="#invoice_request"
           class="col-md-3 col-sm-3 col-lg-2
           btn btn-orange btn-short btn-no-rounded btn-no-margin
           hidden-xs visible-sm visible-lg visible-md">
        <i class="fa fa-external-link p-r-10"></i>Exporter
      </div>


    </div>

    <%= form_tag export_invoice_request_invoice_requests_path(format: :xlsx), method: :get, id: 'invoice_request' do %>

    <%= hidden_field_tag "q[date_gteq]", params[:q][:date_gteq] %>
    <%= hidden_field_tag "q[date_lteq]", params[:q][:date_lteq] %>
    <section class="panel m-t-20">
      <div class="panel-item">
        <div class="table-wrap">
          <table class="list-table no-top">
            <thead>
            <tr>
              <th>
                <div class="line clearfix">
                  <div class="violet">
                    <input type="checkbox" value="" name=""/>
                    <span class="custom-checkbox"/>
                  </div>
                </div>
              </th>

              <th>Création</th>
              <th><%= sort_link(@q, :date, 'Date de facturation ') %></th>
              <th>Date d'échéance</th>
              <th><%= sort_link(@q, :establishment_name, 'Client ') %></th>
              <th>Total honoraires</th>
              <th>Total frais</th>
              <th>Total HT</th>
              <th><%= sort_link(@q, :total_including_taxes, 'Total TTC ') %></th>
              <th>Validée</th>
              <th>PDF</th>
            </tr>
            </thead>
            <tbody>
            <%= render partial: 'table_row', collection: @invoices_requests, as: :office_customer_bills %>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <% end %>

    <%= render 'bureau_consultant/shared/paginate', collection: @invoices_requests %>
  </div>
</div>
