<%= render partial: 'layouts/bureau_consultant/loading_modal' %>

<%=
  form_for invoice_request,
           url: { action: "create" },
           method: :post,
           html: {
               class: 'form-horizontal invoice_request'
           },
           validate: true do |f|
%>
  <div class="row manage-mission">
    <div class="col-md-2 hidden-xs hidden-sm">
      <%= render 'step', step: 1, current_modal: '#video-part-2' %>
    </div>

    <div class="col-sm-10 col-md-10 no-p">
      <div class="page-top clearfix da">
        <div class="col-sm-12 no-p-l-r">
          <h4 class="list-title no-m-l">
            FACTURER UN CLIENT
          </h4>

          <% if invoice_request.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <ul>
                <% invoice_request.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div class="step_horizontal col-sm-12 visible-sm visible-xs form-group">
        <%= render '3_step_horizontal', step: 1, current_modal: '#video-part-2-xs' %>

        <div class="clearfix"></div>
      </div>

      <div class="row p-t-30">
        <div class="col-sm-7 col-xs-12">
          <div class="top-panel">
            <div class="panel info-panel frais_header" style="padding: 0px" id="invoice-summary">
              <%= render 'invoice_summary', invoice_request: invoice_request %>
            </div>
          </div>

          <div class="bg-white p-b-20 m-b-20 padding-left-right">
            <%= f.hidden_field :consultant_id, value: invoice_request.consultant_id %>

            <div class="p-t-10">
                <label>Client</label>
              <%=
                f.select :establishment_id,
                         current_consultant.active_billing_points_options,
                         { include_blank: 'Nouveau Client' },
                         { class: 'chosen-select-billings form-control', 'data-placeholder': 'Choisir une option' }
              %>
            </div>

            <div class="p-t-10">
              <label>
                Contrat d’intervention concerné
                <% if current_consultant.itg_establishment.itg_company.need_construction_insurance? %>
                    <span style="color:red">*</span>
                <% end %>
              </label>

              <%= f.select :business_contract_id,
                    business_contract_options(establishment_id: invoice_request.establishment_id, contract_id: invoice_request.business_contract_id),
                    { include_blank: 'Sélectionner un contrat' },
                    { class: 'form-control', validate: current_consultant.itg_establishment.itg_company.need_construction_insurance? }
              %>
            </div>

            <div class="p-t-10">
              <h3>Informations administratives</h3>
            </div>

            <div class="p-t-10">
              <label>
                <span>Numéro de SIRET</span>
                <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="modal" data-target="#modal2"></i>
              </label>
              <%= f.text_field :establishment_siret, class: 'form-control', readonly: true, autocomplete: "organization" %>
            </div>

            <div class="p-t-10">
              <label>
                <span>Numéro de TVA intra</span>
                <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="modal" data-target="#modal1"></i>
              </label>
              <%= f.text_field :establishment_vat_number, class: 'form-control', readonly: true, autocomplete: "organization" %>
            </div>

            <h3><%= t 'commercial_contracts.new.commercial_infos' %></h3>

            <div class="form-group">
              <div class="col-sm-7">
                <button class="btn yellow-btn btn-short btn-no-margin-top" id="search_by_siret" style="display: none;">Rechercher
                  en utilisant le SIRET
                </button>
                <button class="btn yellow-btn btn-short btn-no-margin-top" id="search_by_name" style="display: none;">Rechercher
                  en utilisant le nom
                </button>
              </div>
            </div>

            <div class="form-group" id="establishments_block" style="display: none;">
              <label class="control-label col-sm-5">Entreprises</label>
              <div class="col-sm-7">
                <select name="establishments" id="establishments" class="form-control">
                </select>
              </div>
            </div>


            <div class="p-t-10">
              <%= f.label :establishment_name, t('billing_points.name') %>
              <%= f.text_field :establishment_name, class: 'form-control', maxlength: 35, validate: true, readonly: true, autocomplete: "organization" %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_country, t('billing_points.country') %>
              <%=
                f.select :establishment_country_id,
                         countries_options,
                         {},
                         { class: 'selected-country1 form-control', readonly: true }
              %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_address_1, t('billing_points.address_line1') %>
              <%= f.text_field :establishment_address_1, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_address_2, t('billing_points.address_line2') %>
              <%= f.text_field :establishment_address_2, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_address_3, t('billing_points.address_line3') %>
              <%= f.text_field :establishment_address_3, class: 'form-control', maxlength: 35, validate: true, readonly: true %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_zip_code, t('billing_points.zip_code') %>
              <div class="in-france1">
                <%= f.select :establishment_zip_code, [], {}, class: 'form-control zip-code-select2 zipcode1',
                             maxlength: 5, validate: true, readonly: true,
                             data: { 'selected-id': f.object.establishment_zip_code,
                                     'selected-text': "#{f.object.establishment_zip_code} - #{f.object.establishment_city}",
                                     city_name: f.object.establishment_city
                             }
                %>
              </div>

              <div class="other-country1">
                <%= f.text_field :establishment_zip_code, class: 'form-control', maxlength: 5, validate: true, readonly: true %>
              </div>
              <%= f.hidden_field :establishment_zip_code_id, class: 'zipcode_id1' %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_city, t('billing_points.city') %>
              <%= f.text_field :establishment_city, class: 'form-control city-from-zipcode1', maxlength: 35, validate: true, readonly: true %>
            </div>

            <div class="p-t-10">
              <%= f.label :establishment_phone, t('billing_points.phone') %>
              <%= f.text_field :establishment_phone, class: 'form-control', maxlength: 15, validate: true, readonly: true %>
            </div>

            <h3><%= t 'commercial_contracts.new.contact_infos' %></h3>

            <div class="p-t-10">
              <%= f.label :represented_by, t('billing_points.represented_by') %>
              <%=
                f.select :establishment_contact_id,
                         (invoice_request.establishment_id ? establishment_contacts(invoice_request.establishment, invoice_request.establishment_contact_id) : []),
                         { include_blank: 'Nouveau' },
                         { class: 'establishment_contact form-control', 'data-placeholder establishment_contact_id': 'Choisir une option' }
              %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_last_name, t('contact.last_name') %>
              <%= f.text_field :contact_last_name, maxlength: 35, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_first_name, t('contact.first_name') %>
              <%= f.text_field :contact_first_name, maxlength: 35, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_contact_type, t('contact.contact_type') %>
              <%=
                f.select :contact_contact_type_id,
                         contact_types_options,
                         {},
                         { class: 'form-control' }
              %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_contact_role, t('contact.contact_role') %>
              <%=
                f.select :contact_contact_role_id,
                         contact_roles_options,
                         {},
                         { class: 'form-control' }
              %>
            </div>

            <div class="p-t-10">
              <%= f.check_box :copy_contact_address_from_establishment %>
              <%= f.label :copy_contact_address_from_establishment,
                          "Adresse identique à celle de l'entreprise" %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_country, t('contact.country') %>
              <%=
                f.select :contact_country_id,
                         countries_options,
                         {},
                         { class: 'selected-country2 form-control' }
              %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_address_1, t('contact.address') %>
              <%= f.text_field :contact_address_1, maxlength: 35, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_address_2, t('contact.address2') %>
              <%= f.text_field :contact_address_2, maxlength: 35, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_address_3, t('contact.address3') %>
              <%= f.text_field :contact_address_3, maxlength: 35, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_zip_code, t('contact.zip_code') %>
              <div class="in-france2">
                <%= f.select :contact_zip_code,
                             f.object.contact_zip_code_id ? [[f.object.contact_zip_code, f.object.contact_zip_code_id, {'data-city_name': f.object.contact_city, 'data-zip_code_id': f.object.contact_zip_code_id, selected: true}]] : [],
                             {}, class: 'form-control zip-code-select2 zipcode2',
                             maxlength: 5, validate: true, readonly: true,
                             data: { 'selected-id': f.object.contact_zip_code,
                                     'selected-text': "#{f.object.contact_zip_code} - #{f.object.contact_city}",
                                     zipcode_id: f.object.contact_zip_code_id,
                                     city_name: f.object.contact_city
                             }
                %>
              </div>

              <div class="other-country2">
                <%= f.text_field :contact_zip_code, maxlength: 5, class: 'form-control' %>
              </div>
              <%= f.hidden_field :contact_zip_code_id, class: 'zipcode_id2' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_city, t('contact.city') %>
              <%= f.text_field :contact_city, maxlength: 35, class: 'form-control city-from-zipcode2' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_phone, t('contact.phone') %>
              <%= f.telephone_field :contact_phone, maxlength: 15, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <%= f.label :contact_email, t('contact.email') %>
              <%= f.text_field :contact_email, maxlength: 255, class: 'form-control' %>
            </div>

            <div class="p-t-10">
              <label data-toggle="popover"
                     data-html="true"
                     data-trigger="hover"
                     data-container="body"
                     data-placement="auto left"
                     data-content="Taxe de l'état facturée directement aux clients
                   sur les prestations réalisées.">TVA</label>
              <%=
                f.select :vat_id,
                         vat_rates_except_aucune_options,
                         {},
                         { class: 'form-control', validate: true }
              %>
            </div>

          </div>

        </div>


        <div class="col-sm-5 col-xs-12">
          <div class="bg-white p-b-20 padding-left-right">
            <div class="p-t-10">
              <label>Devise</label>
              <%= f.select :currency_id,
                           currencies_options,
                           {},
                           { class: 'form-control' } %>
            </div>

            <div class="p-t-10">
              <label data-toggle="popover"
                     data-html="true"
                     data-trigger="hover"
                     data-container="body"
                     data-placement="auto right"
                     data-content="La date de facturation est obligatoire selon la réglementation fiscale.
                   Cette date correspond à la date à laquelle la facture est émise.">
                Date de facturation
              </label>

              <%= f.text_field :date,
                               value: invoice_request.date && invoice_request.date.strftime('%d/%m/%Y'),
                               class: 'datepicker form-control',
                               data: {
                                   provide: 'datepicker',
                                   'date-start-date': invoice_request.invoicing_start_date.strftime('%d/%m/%Y'),
                                   'date-end-date': invoice_request.invoicing_end_date.strftime('%d/%m/%Y')
                               }
              %>
            </div>

            <div class="p-t-10">
              <label data-toggle="popover"
                     data-html="true"
                     data-trigger="hover"
                     data-container="body"
                     data-placement="auto right"
                     data-content="Le délai de règlement correspond à la durée prévue dans un contrat entre la prestation réalisée et la facturation.">
                Date d'échéance
              </label>

              <%= f.text_field :target_date,
                               value: invoice_request.target_date && invoice_request.target_date.strftime('%d/%m/%Y'),
                               class: 'datepicker form-control',
                               data: {
                                   provide: 'datepicker',
                                   'date-start-date': invoice_request.allowed_invoicing_date_range.first.strftime('%d/%m/%Y'),
                                   'date-end-date': (invoice_request.allowed_invoicing_date_range.last + 90.days).strftime('%d/%m/%Y')
                               }
              %>
            </div>

            <div class="p-t-10">
              <label>Mode de réglement</label>
              <%= f.select :payment_type_id,
                           payment_methods_options,
                           {},
                           { class: 'form-control' } %>
            </div>
          </div>

          <div class="p-t-30 align-center">
            <%= f.submit "ÉTAPE SUIVANTE", class: 'btn btn-red' %>
          </div>

        </div>
      </div>

    </div>

  </div>
<% end %>

<div class="modal fade mission-expense" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="text-grey2">
          Le numéro de TVA intracommunautaire est
          constitué du code FR (pour la France), d’une
          clé informatique de 2 chiffres et du numéro
          SIREN de l’entreprise (9 chiffres).
          <br/><br/>
          Attention : Les entreprises situées dans les
          DOM n’ont pas de n° de TVA
          intracommunautaire. En cas de doute, vous
          pouvez vérifier la validité de ce numéro sur :
          <span class="text-yellow">europa.eu.int</span>
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade mission-expense" id="modal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center text-grey2">
          Numéro à 14 chiffres identifiant l’entreprise
          cliente au registre du commerce.
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade invoice_request" id="siret_existing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="align-center">
          <h5>Message de vérification de société de rattachement</h5>
        </div>
        <p>
          <br/>
          Le SIRET <span class="siret"></span> que vous avez saisi correspond à la société <span class="name"></span>.
          <br/>
          <br/>
        </p>
        <div class="align-center">
          Confirmez-vous ce SIRET ?
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-red siret-no" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-red siret-yes">Valider ce SIRET</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="Searching_Modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
     data-backdrop="static">
  <div class="modal-dialog" style="top:25%;">
    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0); border:0; box-shadow:none;">
      <div class="modal-body align-center">
        <%= image_tag 'bureau_consultant/spinner' %>
      </div>
      <div class="modal-footer" style="text-align: center"></div>
    </div>
  </div>
</div>
