<div class="row billing">
  <div class="col-md-2 hidden-xs hidden-sm">
    <%= render 'step', step: 3, current_modal: '#video-part-3' %>
  </div>

  <div class="col-sm-12 col-md-10 no-p">
    <div class="page-top clearfix da">
      <div class="col-sm-12 no-p-l-r">
        <h4 class="list-title no-m-l">
          FACTURER UN CLIENT
        </h4>
      </div>
    </div>

    <div class="step_horizontal col-sm-12 visible-sm visible-xs">
      <%= render '3_step_horizontal', step: 3, current_modal: '#video-part-3-xs' %>

      <div class="clearfix"></div>
    </div>


    <div class="row p-t-30">
      <div class="col">
        <div class="top-panel">
          <div class="panel info-panel frais_header" style="padding: 0px" id="invoice-summary">
            <%= render 'invoice_summary', invoice_request: invoice_request %>
          </div>
        </div>


        <%= nested_form_for invoice_request, url: validate_invoice_requests_path, method: :post, id: :new_invoice_request do |f| %>
          <div class="bg-white p-b-10 m-b-20 padding-left-right">
            <div class="p-t-10">
            <p class="help-block">Si nécessaire joindre en annexe les annexes ou justificatifs de votre facture. Taille maximum 10Mb</p>
            </div>
            <div id="office_customer_bill_document">
              <%= f.fields_for :documents do |document| %>
                <% if document.object.persisted? %>
                  <div class="row">
                    <div class="col-xs-5">
                      <%= document.object.document_type&.label %>
                    </div>

                    <div class="col-xs-5">
                      <%= document.object.filename.file.filename %>
                    </div>

                    <div class="col-xs-1">
                      <%= document.link_to_remove fa_icon('minus-circle'), class: 'remove-nested-form-link' %>
                    </div>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="col-xs-11 col-sm-4 col-md-3">
                      <%= document.label :document_type_id, 'Type de document' %>
                      <%= document.select :document_type_id,
                                          @document_types,
                                          {},
                                          class: 'form-control'
                      %>
                    </div>

                    <div class="col-xs-11 col-sm-7 col-md-8">
                      <%= document.label :filename, 'Télécharger un fichier' %>
                      <%= document.file_field :filename, class: 'form-control' %>
                    </div>

                    <%= document.hidden_field :tier_id, value: @current_cas_authentication.cas_user.tier_id %>

                    <div class="col-xs-1 m-t-35">
                      <%= document.link_to_remove fa_icon('minus-circle'), class: 'remove-nested-form-link' %>
                    </div>
                  </div>
                <% end %>

                <hr/>
              <% end %>
            </div>

            <%= f.link_to_add fa_icon('plus-circle', text: 'Ajouter un fichier'), :documents, class: 'add-nested-form-link' %>
          </div>

          <div class="bg-white p-b-10 m-b-20 padding-left-right">
            <div class="row p-t-20 p-b-10 padding-left-right">
              <div class="text consultant_credit" data-value="<%= presenter.part_of_the_consultant.round(2) %>">Cette
                facture créditera votre compte financier d’un montant de : <%= presenter.formated_consultant_credit %>.
              </div>

              <div class="show_comment text-yellow p-t-10">
                <span class="clickable">+ Ajouter un commentaire pour votre conseiller de gestion</span></div>

              <div class="comment_tag p-t-10" <%= "style=display:none" if invoice_request.consultant_comment.blank? %>>
                <%= f.text_area :consultant_comment, class: 'form-control' %>
              </div>

            </div>
          </div>

          <div class="p-t-5 align-center">
            <%= link_to 'PRÉCÉDENT', manage_invoice_invoice_requests_path, class: 'btn btn-short btn-grey' %>
            <button type="button" class="btn btn-short btn-rouge" data-target="#modal1" data-toggle="modal">
              VALIDER LA FACTURE
            </button>
          </div>
        <% end %>

      </div>

    </div>

  </div>

</div>


<div class="modal fade mission-expense" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content before-modify">
      <div class="modal-body">
        <div class="text-grey2">
          Votre facture a bien été créée. Dès que votre conseiller de gestion l’aura validée,
          elle sera envoyée à votre client.
        </div>
      </div>
      <div class="modal-footer align-center">
        <button type="button" class="btn btn-empty-grey btn-no-margin-tb" data-dismiss="modal"
                onclick="$('form.edit_office_customer_bill, form.new_office_customer_bill').trigger('submit');">OK
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
