<div class="row">
  <div class="col-xs-12">
    <p class="header-title soft-red commercial-activity-header-title">MA RELATION CONTRACTUELLE</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 col-xs-12 m-t-20">
    <div class="panel">
      <div class="m-l-20 m-t-20 m-b-30">
        <div class="text-bold">Mon taux de gestion</div>
        <p><%= 100 - current_consultant.consultant_margin %> %</p>
      </div>

      <% if current_consultant.retrocession_rate.to_f != 0.0 %>
        <div class="m-l-20 m-t-20 m-b-30">
          <div class="text-bold">Mon taux de transformation</div>
          <p><%= current_consultant.retrocession_rate %> %</p>
        </div>
      <% end %>

      <% if current_contract = current_consultant.employment_contracts.active_in_current_month.last %>
        <div class="m-l-20 m-t-20 m-b-30">
          <div class="text-bold">Contrat de travail</div>
          <p>
            <%= current_contract.payroll_contract_type&.label %>
            <%= current_contract.starting_date.strftime('%d/%m/%Y') %> -
            <%= current_contract.ended_on&.strftime('%d/%m/%Y') %>
          </p>
        </div>
      <% else %>
        <div class="m-l-20 m-t-20 m-b-30">
          <div class="text-bold">Pas de contrat de travail</div>
        </div>
      <% end %>


      <% if salary_simulation = current_consultant.documents.salary_simulation.first %>

        <div class="m-l-20 m-t-20 m-b-30">
          <%= link_to salary_simulation.filename.url do %>
            <div class="text-bold">
              Ma simulation de salaire
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if document_reco = current_consultant.documents.document_reco.first %>

        <div class="m-l-20 m-t-20 m-b-30">
          <%= link_to document_reco.filename.url do %>
            <div class="text-bold">
              Ma lettre de reconnaissance préalable
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if current_contract && current_contract&.last_version&.document&.filename&.url %>
        <div class="m-l-20 m-t-20 m-b-30">
          <%= link_to current_contract&.last_version&.document&.filename&.url do %>
            <div class="text-bold">
              Mon contrat de travail
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
