<div class="contact">
  <div class="row">
    <div class="col-md-12">
      <div class="row grid-big-left">

        <div class="col-left">
          <div class="bg-white p-b-20 m-b-20">
            <div class="contact-header p-b-20">
              <div class="contact-header-title align-center">CONTACTER MON CONSEILLER DE GESTION</div>

              <div class="hidden-xs contact-grid">
                <div class="left-box align-center contact-name">
                  <%= current_consultant.correspondant_employee&.individual&.full_name %>
                </div>
                <div>
                  <div class="contact-data-grid">
                    <span class="tel-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                    </span>
                    <% if current_consultant.is_porteo? %>
                      <span class="tel-num"><a href="tel:0980500005">09-80-50-00-05</a></span>
                    <% else %>
                      <span class="tel-num"><a href="tel:<%= current_consultant.correspondant_employee&.contact_datum&.phone %>"><%= current_consultant.correspondant_employee&.contact_datum&.phone %></a></span>
                    <% end %>
                  </div>
                  <div class="contact-data-grid contact-email">
                    <%= current_consultant.correspondant_employee&.contact_datum&.email %>
                  </div>
                </div>
              </div>

              <div class="hidden-lg hidden-md hidden-sm align-center">
                <div class="contact-name">
                  <%= current_consultant.correspondant_employee&.individual&.full_name %>
                </div>
                <div class="contact-tel m-t-20">
                  <span class="tel-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                      <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                  </span>
                  <span class="tel-num"><a href="tel:<%= current_consultant.correspondant_employee&.contact_datum&.phone %>"><%= current_consultant.correspondant_employee&.contact_datum&.phone %></a></span>
                </div>
                <div class="contact-email">
                  <%= current_consultant.correspondant_employee&.contact_datum&.email %>
                </div>

                <!--                <div class="m-t-20 align-center">-->
                <!--                  <a class="btn btn-orange btn-no-rounded btn-no-margin-top btn-wrapable show-mail show_send_mail" href="javascript:Intercom('show')">Écrire-->
                <!--                    un message</a>-->
                <!--                </div>-->
              </div>

            </div>

            <div class="padding-left-right">
              <div class="map-section m-b-20 align-center padding-left-right">
                <% if Goxygene.is_freeteam? %>
                  <iframe
                    width="670"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZIflg5BNf-__SkNTAxHza4nt7vSGbnEU
                      &q=1+avenue+Léonard+de+Vinci+33600+Pessac" allowfullscreen>
                  </iframe>
                <% elsif current_consultant.is_porteo? %>
                  <iframe
                    width="670"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZIflg5BNf-__SkNTAxHza4nt7vSGbnEU
                        &q=54+Avenue+Colonel+Teyssier+81000+Albi" allowfullscreen>
                  </iframe>
                <% else %>
                  <iframe
                    width="670"
                    height="400"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZIflg5BNf-__SkNTAxHza4nt7vSGbnEU
                        &q=18+rue+de+la+ville+l%27evêque+75008+paris" allowfullscreen>
                  </iframe>
                <% end %>
                <!-- <div class="map-location-text p-t-20">
                  <div class="icon-mark"><%#= image_tag 'bureau_consultant/icon-mark' %></div>
                  <div class="text-location m-t-10">
                    <div class="location-position">18 rue de la Ville-l'Evêque</div>
                    <div class="location-position">75008 Paris</div>
                  </div>
                </div> -->

                <!-- <div class="map m-t-15">
                  <div class="map-float-btn">
                    <button class="btn btn-orange btn-no-rounded">ITINÉRAIRE</button>
                  </div>
                </div> -->
              </div>

              <% if Goxygene.is_freeland? %>
                <div class="m-t-20">
                  <div class="icon-group align-center">
                    <span class="share-icon">
                      <%= link_to image_tag('bureau_consultant/icon-square-linkedin'), 'https://www.linkedin.com/groups/1803524', target: "_blank" %>
                    </span>
                    <span class="share-icon">
                      <%= link_to image_tag('bureau_consultant/icon-square-facebook'), 'https://www.facebook.com/ITGgroupe/', target: "_blank" %>
                    </span>
                    <span class="share-icon">
                      <%= link_to image_tag('bureau_consultant/icon-square-twitter'), 'https://twitter.com/itggroupe', target: "_blank" %>
                    </span>
                  </div>
                </div>
              <% end %>

            </div>
          </div>

        </div>

        <div class="col-right" id="scroll_to_this">
          <div class="bg-white p-b-20 default-right-height">

            <div class="mail-detail">
              <div class="icon-close pull-right">X</div>
              <div class="right-header-title p-t-40 align-center">
                <div class="right-title">Envoyer un e-mail à votre correspondant</div>
              </div>

              <div class="padding-left-right m-t-20">
                <div class="mail-detail text-smaller">
                  A propos de quoi souhaitez-vous nous contacter ?
                </div>

                <div class="text-mail m-t-15">
                  <textarea rows="8" class="form-control" placeholder="Votre message *" id="email-content" "></textarea>
                </div>

                <div class="align-center m-t-15">
                  <button class="red-btn btn-no-rounded send-mail">ENVOYER</button>
                </div>
              </div>

            </div>

            <div class="send-mail-success">
              <div class="row">
                <div class="col-xs-12">

                  <div class="icon-close pull-right">X</div>
                  <div class="text-center m-b-50 m-t-60">
                    <%= image_tag 'bureau_consultant/icon-orange-circle-check' %>
                  </div>
                  <h3 class="text-center text-black">Votre message a bien été envoyé.</h3>
                  <p class="text-center">
                    Votre correspondant reprendra contact <br>
                    avec vous dès que possible.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
