<tr>
  <td>
    <div class="line clearfix">
      <input type="checkbox" value="<%= account.id_document %>" name="q[id_in][]" class="ids"/>
    </div>
  </td>
  <td><%= set_datetime_format(account.date) %></td>
  <td><%= account.journal %></td>
  <td><%= account.id %></td>
  <td><%= account.label %></td>
  <td class="text-right no-wrap"><%= number_with_precision(account.debit, @number_format) %></td>
  <td class="text-right no-wrap"><%= number_with_precision(account.credit, @number_format) %></td>
  <td class="text-right no-wrap"><%= number_with_precision(account.balance, @number_format) %></td>
  <td><%= account.lettree %></td>
</tr>
