<tr class="paid_cost">
  <td>
    <div class="line clearfix">
      <input type="checkbox" value="<%= account.id %>" name="q[id_in][]" class="ids"/>
    </div>
  </td>
  <td class="paid_cost_date"><%= set_datetime_format(account.date) %></td>
  <td class="no-wrap"><%= account.comment %></td>
  <td class="no-wrap"><%= number_with_precision(account.kilometers_details&.kilometers, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.shifting_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.bureau_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.formation_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.post_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.telecom_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.misc_details&.amount, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.vat, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.total, @number_format) %></td>
  <td class="no-wrap"><%= number_with_precision(account.total_with_taxes, @number_format) %></td>
  <td class="no-wrap chrono"><%= account.accounting_document %></td>
</tr>
