<tr class="pending_cost">
  <td>
    <div class="line clearfix">
      <input type="checkbox" value="<%= account.id %>" name="q[id_in][]" class="ids"/>
    </div>
  </td>
  <td class="pending_cost_date"><%= set_datetime_format(account.date) %></td>
  <td class="no-wrap"><%= account.comment %></td>
  <td class="no-wrap"><%= number_with_precision(account.kilometers_details&.kilometers, @number_format) %></td>
  <td class="no-wrap"><%= number_to_currency account.shifting_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.bureau_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.formation_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.post_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.telecom_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.misc_details&.amount %></td>
  <td class="no-wrap"><%= number_to_currency account.vat %></td>
  <td class="no-wrap"><%= number_to_currency account.total %></td>
  <td class="no-wrap"><%= number_to_currency account.total_with_taxes %></td>
</tr>
