<div class="data-row m-b-0 padding-15"
     style="margin: 0 -10px; border-bottom: 1px solid <%= ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861' %>;">

  <div>
    <span>Date</span> :
    <%= set_datetime_format(account.date) %>
  </div>

  <div>
    <span>Libellé</span> :
    <%= account.label %>
  </div>

  <div>
    <span>Montant</span> :
    <%= number_with_precision(account.amount, @number_format) %>
  </div>

  <div>
    <span>Mode</span> :
    <%= account.payment_type.label %>
  </div>
</div>
