<tr class="transfer">
  <td>
    <div class="line clearfix">
      <input type="checkbox" value="<%= account.id %>" name="q[id_in][]" class="ids"/>
    </div>
  </td>
  <td class="transfer_date"><%= set_datetime_format(account.date) %></td>
  <td class="no-wrap"><%= account.label %></td>
  <td class="no-wrap"><%= number_with_precision(account.amount, @number_format) %></td>
  <td class="no-wrap"><%= account.payment_type.label %></td>
</tr>
