<div class="data-row m-b-0 padding-15"
     style="margin: 0 -10px; border-bottom: 1px solid <%= ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861' %>;">

  <div>
    <span>Date</span> :
    <%= set_datetime_format(account.date) %>
  </div>

  <div>
    <span>Nature</span> :
    <%= account.journal %>
  </div>

  <div>
    <span>Pièce</span> :
    <%= account.id %>
  </div>

  <div>
    <span>Libellé</span> :
    <%= account.label %>
  </div>

  <div>
    <span>Débit</span> :
    <%= number_with_precision(account.debit, @number_format) %>
  </div>

  <div>
    <span>Crédit</span> :
    <%= number_with_precision(account.credit, @number_format) %>
  </div>

  <div>
    <span>Solde</span> :
    <%= number_with_precision(account.balance, @number_format) %>
  </div>

  <div>
    <span>Lettré</span> :
    <%= account.lettree %>
  </div>

</div>
