<% content_for(:user_account_menu) do %>
  <%= render 'bureau_consultant/shared/mobile_user_account' %>
<% end %>

<%= render 'bureau_consultant/shared/mobile_top_nav',
           nav_color: ENV['HUB_MAIN_COLOR_LIGHT'] || '#5a2861',
           nav_title: 'Mon comptes',
           nav_left: link_to(image_tag('bureau_consultant/icon-mobile-nav-help', class: 'mobile-nav-icon'), help_index_path),
           nav_right: yield(:user_account_menu) %>

<div class="mon-compte-board">
  <div class="board-title text-center padding-5 m-b-15">
    <%= link_to bureau_consultant.root_path do %>
      <%= image_tag('bureau_consultant/icon-bank') %>
    <% end %>
  </div>

  <div class="stat-wrapper text-upcase">
    <a class="stat text-violet" href="<%= financial_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p>Vous retrouvez <b>l'indicateur financier</b>, affichant en temps réel le montant de votre solde disponible.</p><p>Cette somme <b>augmente</b>, par exemple, lors de l'encaissement de vos factures ou <b>diminue</b>, notamment, lorsque vous vous versez un salaire diminué des charges ou encore si vous demandez le remboursement de vos frais.</p>">
      <div class="title">Mon compte Financier</div>
      <div class="value orange"><%= current_consultant.dashboard_activity %></div>
    </a>
    <a class="stat text-violet" href="<%= billing_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p><b>L'indicateur facturation</b>, est le montant de vos factures envoyés chez vos clients et qui ne sont pas encore réglés.</p><p>Dès le règlement, elles alimenteront instantanément votre compte financier</p>">
      <div class="title">Mon compte de Facturation</div>
      <div class="value"><%= current_consultant.dashboard_invoicing %></div>
    </a>
    <a class="stat text-violet" href="<%= treasury_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p><b>L'indicateur trésorerie</b> enregistre les flux entre <%= current_consultant.itg_establishment.name %> et VOUS.</p><p>Par exemple, une avance d'<%= current_consultant.itg_establishment.name %> fera apparaître une trésorerie négative, à l'inverse le remboursement de votre immobilisation (comme un ordinateur) rendra le compte</p> positif.">
      <div class="title">Mon compte de Trésorerie</div>
      <div class="value"><%= current_consultant.dashboard_cash %></div>
    </a>
    <a class="stat text-violet" href="<%= salary_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p><b>L'indicateur salaire</b>, est un aperçu du montant de vos salaires en cours de traitement.</p>">
      <div class="title">Mes Salaires</div>
      <div class="value"><%= current_consultant.dashboard_next_salary %></div>
    </a>
    <a class="stat text-violet <%= 'disabled' unless current_consultant.allowed_expenses_refund? %>" href="<%= pending_costs_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p><b>L'indicateur frais</b>, présentant le montant de vos frais en cours de traitement et qui ne vous ont pas encore été remboursés.</p>">
      <div class="title">Mes Frais de mission</div>
      <div class="value"><%= current_consultant.dashboard_expenses %></div>
    </a>
    <a class="stat text-violet no-mrg-right" href="<%= transfers_accounts_path %>"
       data-html="true"
       data-container="body"
       data-placement="auto"
       data-content="<p><b>L'indicateur virement</b>, présentant le montant de vos virements en cours de traitement</p>">
      <div class="title">Mes Virements</div>
      <div class="value">0,00 €</div>
    </a>
  </div>
</div>

<style>
  .stat {
    display: block;
    overflow: auto;
    margin-bottom: 12px;
    background: white;
    padding: 10px;
    text-align: center;
  }
  .stat .title {
  }
  .stat .value {
    font-weight: bold;
  }
</style>
