<div class="row">
  <div class="col-xs-12">

    <span class="contract-reqest-title">COMPTE DE TRÉSORERIE</span>

    <div class="clearfix m-t-20 row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 form-group">
        <%= render 'bureau_consultant/shared/paginate', collection: @accounts %>
      </div>

      <div class="col-xs-12 col-md-9 col-sm-9 col-lg-6 form-group">
        <%= form_tag treasury_accounts_path, method: :get, :class => 'form-inline' do %>
            <div class="form-group">
              <%= check_box_tag "q[lettree_not_null]", 1, params[:q][:lettree_not_null] %>
              Lettré
            </div>

            <%= search_field_tag 'q[date_gteq]', {}, :class => 'datepicker shorter form-control form-group', value: set_datetime_format(params[:q][:date_gteq]) %>
            <div class="form-group">
              <span class="text-bigger">à</span>
            </div>

            <%= search_field_tag 'q[date_lteq]', {}, :class => 'datepicker shorter form-control form-group', value: set_datetime_format(params[:q][:date_lteq]) %>

            <%= submit_tag 'Filtre', class: 'btn btn-violet btn-short btn-no-margin btn-no-rounded form-group hidden-xs' %>

            <div class="align-center visible-xs">
              <%= submit_tag 'Filtre', class: 'btn btn-violet btn-short btn-no-margin btn-no-rounded' %>

              <span data-toggle="submit" data-target="#account" class="btn btn-orange-static btn-no-rounded btn-no-margin">
                <i class="fa fa-external-link p-r-10"></i>Exporter
              </span>

              <%= link_to treasury_accounts_path(reload: true), class: 'btn btn-default btn-no-rounded m-l-10 p-l-10 p-r-10' do %>
                <i class="fa fa-refresh"></i>
              <% end %>
            </div>
        <% end %>
      </div>

      <div class="text-right hidden-xs p-r-15">
        <div data-toggle="submit" data-target="#account" class="btn btn-orange btn-no-rounded"
             style="width: auto; margin: 0; padding: 5px 10px;">
          <i class="fa fa-external-link p-r-5"></i>Exporter
        </div>

        <%= link_to treasury_accounts_path(reload: true), class: 'btn btn-default btn-no-rounded m-l-5 p-l-10 p-r-10' do %>
          <i class="fa fa-refresh"></i>
        <% end %>
      </div>
    </div>


    <%= form_tag export_treasury_accounts_path(format: :xlsx), method: :get, id: 'account' do %>
        <%= hidden_field_tag "q[lettree_not_null]", params[:q][:lettree_not_null] %>
        <%= hidden_field_tag "q[date_gteq]", params[:q][:date_gteq] %>
        <%= hidden_field_tag "q[date_lteq]", params[:q][:date_lteq] %>
        <section class="panel m-t-20">
          <div class="panel-item">
            <div class="table-wrap">
              <table class="list-table no-top">
                <thead>
                <tr>
                  <th>
                    <div class="line clearfix">
                      <input type="checkbox"/>
                    </div>
                  </th>

                  <th>Date</th>
                  <th>Nature</th>
                  <th>Pièce</th>
                  <th>Libellé</th>
                  <th>Débit</th>
                  <th>Crédit</th>
                  <th>Solde</th>
                  <th>Lettré</th>
                </tr>
                </thead>
                <tbody>
                <%= render partial: 'treasury_table_row', collection: @accounts, as: :account %>
                </tbody>
              </table>
            </div>
          </div>
        </section>
    <% end %>
    <%= render 'bureau_consultant/shared/paginate', collection: @accounts %>

  </div>
</div>
