<div class="data-row m-b-0 padding-15 billing">
  <div>
    <span>Type facture</span> :
    <span><%= invoice.bill_type&.text %></span>
  </div>
  <div>
    <span>Date de facturation</span> :
    <%= set_datetime_format(invoice.date) %>
  </div>

  <div>
    <span>N° facture</span> :
    <%= invoice.bill_number&.truncate(7) %>
  </div>

  <div>
    <span>Client</span> :
    <%= invoice.establishment&.name&.truncate(10) %>
  </div>

  <div class="m-t-10">
    <span>TOTAL HONORAIRES(€)</span> :
    <%= invoice.formated_fees %>
  </div>

  <div>
    <span>TOTAL FRAIS(€)</span> :
    <%= invoice.formated_expenses %>
  </div>

  <div>
    <span>Total HT(€)</span> :
    <%= invoice.formated_total_without_vat %>
  </div>

  <div>
    <span>Taux TVA(€)</span> :
    <%= invoice.vat_rate&.label %>
  </div>

  <div>
    <span>Total TTC(€)</span> :
    <%= invoice.formated_total_ttc %>
  </div>

  <div>
    <span>Reste dû</span> :
    <%= invoice.formated_left_to_pay_euros %>
  </div>

  <div class="m-t-10">
    <span>Date de règlement</span> :
    <%= set_datetime_format(invoice.date_paid) %>
  </div>

  <div class="m-t-10">
    <span>Référence</span> :
    <%= invoice.business_contract&.business_contract_versions&.last&.customer_contract_reference %>
  </div>

  <div class="file-download">
    <%= link_to history_show_billings_path(invoice.id, format: :pdf), target: :_blank do %>
      <div class="btn btn-orange btn-no-rounded">
        PDF
      </div>
    <% end %>
  </div>
</div>




