<div class="text-small text-center text-bold page-footer-ref">
  <%= @invoice.itg_company.corporate_name %> - <%= @invoice.itg_company.contact_datum.address_1 %>
  - <%= @invoice.itg_company.contact_datum.zip_code %> - <%= @invoice.itg_company.contact_datum.city %> - SIRET
  : <%= @invoice.itg_company.siren %> - NAF : <%= @invoice.itg_company.naf %> - N° TVA
  : <%= @invoice.itg_company.vat_number %> - WEB : <%= @invoice.itg_company.contact_datum.web_site %>
</div>
