<div class="freelance-stack">
    <div class="freelance-stack-content col-md-12">
        <h1>
            <%="Profitez des meilleurs deals en tant que salarié porté de #{Goxygene::Parameter.value_for_group}.fr !"%>
        </h1>
        <div class="row">
        <section class="freelance-stack-section col-md-4">
            <div>
                <p>
                    Grâce à votre statut de <b>salarié porté</b>,<br> vous bénéficiez de réductions<br> exclusives sur les meilleurs outils<br> à destination des consultants.
                </p>
                <%= button_to "Bénéficiez des meilleurs offres >", freelance_stack_redirect_path, method: :get, target: "_blank", class: "freelance-stack-button" %>
            </div>
            <%= image_tag 'bureau_consultant/logo-outils-fls' %>
            <div class="img-title">+ 350 outils !</div>
        </section>
        <section class="freelance-stack-section col-md-8">
            <div>
                <p>
                    Nous avons négocié des <b>tarifs préférentiels auprès de plus<br> de 350 outils</b>, couvrant toutes les catégories : gestion,<br> productivité, marketing, commerce, vie pro, vie perso, finance,<br> juridique, rh…
                </p>
                <%= button_to "Découvrez les outils >", freelance_stack_redirect_path, method: :get, target: "_blank", class: "freelance-stack-button" %>
            </div>
            <%= image_tag 'bureau_consultant/categorie-fls' %>
            <div class="img-title">Des outils pour tous !</div>
        </section>
        </div>
        <div class="row" style="background-color: #F9FAFF; padding: 3em">
        <section class="freelance-stack-section col-md-4">
            <div>
                <p>
                    Testez avant de souscrire : nos partenaires organiseront des webinars pour que vous puissiez échanger et tester leurs outils avant de les acheter !
                </p>
                <%= button_to "Déposez votre demande >", freelance_stack_redirect_path, method: :get, target: "_blank", class: "freelance-stack-button" %>
            </div>
        </section>
        <section class="freelance-stack-section col-md-8">
            <%= image_tag 'bureau_consultant/webinar-partenaire', style: "margin: 0" %>
            <div class="img-title">Webinar animé par les partenaires</div>
        </section>
        </div>
    </div>
</div>
