<div class="manage-mission row" id="advance-request">

  <div class="col-lg-10 col-lg-offset-2 m-b-20">
    <div class="list-title no-m-l text-header-smaller text-light-violet text-light-bold">
      DEMANDER UN ACOMPTE
    </div>
  </div>

  <div class="col-lg-2 visible-lg"></div>

  <div class="col-lg-6">
    <div class="bg-white padding-20 m-b-20">
      <p class="m-b-20 text-red">Le montant de l’acompte de trésorerie
        demandé <u>sera déduit sur votre prochaine
        opération financière</u> (paiement d’un salaire ou
        remboursement de frais)</p>

      <p class="text-bold">Montant maximum autorisé</p>

      <p>
        <%= content_tag :span, number_to_currency(@max_advance),
                        id: 'amount_maximum',
                        data: { value: @max_advance }
        %>
      </p>
    </div>
  </div>

  <div class="col-lg-4">
    <%= form_with model: @advance, url: advances_path, validate: true, local: true, id: 'advance-form',
                  html: { onsubmit: 'return validateAmount(this)' } do |form| %>

      <div class="bg-white padding-20">
        <div class="form-group">
          <label>Date de la demande</label>
          <div><%= l Date.current %></div>
        </div>

        <div class="form-group amount-advance-input">
          <%= form.label :amount, 'Montant de votre demande' %>
          <span class="help-block error-message m-t-0"></span>
          <%= form.text_field :amount,
                              id: :advance_amount,
                              class: 'number-field form-control input-no-rounded right-placeholder number-field',
                              placeholder: '€'
          %>
        </div>

        <div class="form-group">
          <%= form.label :correspondant_comment, '+ Ajouter un commentaire', class: 'text-orange text-bold clickable',
                         onclick: '$("#advance_comment").removeClass("hidden")' %>
          <%= form.text_area :correspondant_comment, id: :advance_comment,
                             class: 'form-control input-no-rounded hidden', rows: 5 %>
        </div>
      </div>

      <div>
        <div class="text-center">
          <button type="submit" class="btn btn-short btn-rouge btn-no-rounded m-t-20 m-b-0">envoyer ma demande</button>
        </div>
      </div>

    <% end %>

  </div>
</div>

<div class="modal fade in" id="advanceAmountModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="align-center popup-message">Popup Message</div>
      </div>
      <div class="modal-footer align-center">
        <button class="btn btn-empty-grey btn-short btn-no-margin-tb" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
